{% extends "base/index.html" %} 
{% load static %} 
{% block content %}

<div class="container">

    <div class="mode-selector-btns-grp">
        <div id="model_link">
            <a href="{% url 'listing_iframe' %}"> <button class="sheet-table-btn mode-selector" id="mode-selector-2">Iframe</button></a>
        </div>
        </div>

    <div class="sheet-container links bckg">

        <textarea class="sheet_url"><iframe id="playerstats" src={{proxy}} width="700" frameborder="0" height="2500"></iframe></textarea>
        </div>

        <div id="listing">
            <div id="cssactif_fiche">

                {% include 'listing/listing_block.html' %}
    
            </div>
        </div>
    
</div>



{% endblock %}



