<div class="fiche-section">
    <div id="cssactif_fiche_header" class="bannie"></div>
</div>


<div class="fiche-section">
<div class="fiche-title">◈ Recensement des métiers et postes de nos joueurs ◈</div>
    <div class="section-content"><div>Ici seront notés les rôles et métiers de nos membres actuels, pour vous donner une idée globale de ce qui se retrouve souvent à Marbrume. Cela vous permettra de trouver des joueurs pour vos idées rp si vous cherchez un métier particulier par exemple, ou aussi, pour nos futurs membres, de se faire une idée de ce qui se fait déjà ici, et si votre idée de base n'est pas déjà bien exploitée par de nombreux autres joueurs.</div>

        <div id="listing-total"><span>{{fiches.count}} personnages</span> foulent actuellement les terres de Marbrume et de ses environs.</div>
        
        <div id="listing-update">Dernière mise à jour le {{latest.created|date:"d/m/Y"}}</div>
        
        <div id="listing-details">
            <p>Quelques chiffres :</p>
            <p>- {{femalesCount}} personnages féminins</p>
            <p>- {{malesCount}} personnages masculins</p>
        </div>
    </div>
</div>

<div class="fiche-section">
<div class="fiche-title">◈ La noblesse ◈</div>
    <div class="section-content">
        <div class="group-stats">
            <p>- Nous avons <span class="noble_c">{{noblesCount}} Noble(s)</span> actuellement</p></br>
            {% if noblesFemalesCount > 0 %} <p>- {{noblesFemalesCount}} femmes</p> {% endif %}
            {% if noblesMalesCount > 0 %} <p>- {{noblesMalesCount}} hommes</p> {% endif %}
        </div>
        {% for fiche in fiches %}
            {% if fiche.group == "Noble" %}
                
                    <li><a class="section-content-link" href="{{fiche.fiche}}" target="_blank"><span class="noble_c">{{fiche.name}}</span></a> - {{fiche.status}}</li>
                
            {% endif %} 
        {% endfor %}
    </div>
</div>

<div class="fiche-section">
<div class="fiche-title">◈ La milice ◈</div>
    <div class="section-content">
        <div class="group-stats">
            <p>- Nous avons <span class="milice_c">{{militiaCount}} Milicien(s)</span> actuellement</p></br>
            {% if militiaFemalesCount > 0 %} <p>- {{militiaFemalesCount}} femmes</p> {% endif %}
            {% if militiaMalesCount > 0 %} <p>- {{militiaMalesCount}} hommes</p> {% endif %}
        </div>
        {% for fiche in fiches %}
            {% if fiche.group == "Milice(ne)" %}
                
                    <li><a class="section-content-link" href="{{fiche.fiche}}" target="_blank"><span class="milice_c">{{fiche.name}}</span></a> - {{fiche.status}}</li>
                           
            {% endif %} 
        {% endfor %}
    </div>
</div>   

<div class="fiche-section">
<div class="fiche-title">◈ Le clergé ◈</div>
    <div class="section-content">
        <div class="group-stats">
            <p>- Nous avons <span class="clerge_c">{{clergyCount}} membre(s) du Clergé</span> actuellement</p></br>
            {% if clergyFemalesCount > 0 %} <p>- {{clergyFemalesCount}} femmes</p> {% endif %}
            {% if clergyMalesCount > 0 %} <p>- {{clergyMalesCount}} hommes</p> {% endif %}
        </div>
        {% for fiche in fiches %}
            {% if fiche.group == "Prêtre(sse)" %}
                
                    <li><a class="section-content-link" href="{{fiche.fiche}}" target="_blank"><span class="clerge_c">{{fiche.name}}</span></a> - {{fiche.status}}</li>
                
            {% endif %} 
        {% endfor %}
    </div>
</div> 

<div class="fiche-section">
<div class="fiche-title">◈ Le peuple ◈</div>
    <div class="section-content">
        <div class="group-stats">
            <p>- Nous avons <span class="peuple_c">{{peopleCount}} Membre(s) du Peuple</span> actuellement</p></br>
            {% if peopleFemalesCount > 0 %} <p>- {{peopleFemalesCount}} femmes</p> {% endif %}
            {% if peopleMalesCount > 0 %} <p>- {{peopleMalesCount}} hommes</p> {% endif %}
        </div>
        {% for fiche in fiches %}
            {% if fiche.group == "Habitant(e)" %}
                
                    <li><a class="section-content-link" href="{{fiche.fiche}}" target="_blank"><span class="peuple_c">{{fiche.name}}</span></a> - {{fiche.status}}</li>
                
            {% endif %} 
        {% endfor %}
    </div>
</div>

<div class="fiche-section">
<div class="fiche-title">◈ Les bannis ◈</div>
    <div class="section-content">
        <div class="group-stats">
            <p>- Nous avons <span class="banni_c">{{banishedCount}} Banni(s)</span> actuellement</p></br>
            {% if banishedFemalesCount > 0 %} <p>- {{banishedFemalesCount}} femmes</p> {% endif %}
            {% if banishedMalesCount > 0 %} <p>- {{banishedMalesCount}} hommes</p> {% endif %}
        </div>
        {% for fiche in fiches %}
            {% if fiche.group == "Banni(e)" %}
                
                    <li><a class="section-content-link" href="{{fiche.fiche}}" target="_blank"><span class="banni_c">{{fiche.name}}</span></a> - {{fiche.status}}</li>
                
            {% endif %} 
        {% endfor %}
    </div>
</div>

{% comment %} <div class="fiche-section">
<div class="fiche-title">◈ Les disparus ◈</div>
    <div class="section-content">

    </div>
</div> {% endcomment %}

<div class="fiche-section">
<div class="fiche-title">◈ Les doubles-comptes ◈</div>

    <div class="section-content">
        <div class="group-stats">
            <p>- {{ownerList}} de nos membres ont créé {{aliasList}} nouvelles âmes</p></br>
            {% if aliasFemales > 0 %} <p>- {{aliasFemales}} femmes</p> {% endif %}
            {% if aliasMales > 0 %} <p>- {{aliasMales}} hommes</p> {% endif %}
        </div>
        
        {% for alias in aliases %}
            {% if alias.aliases.all.count >= 1 %}

                <li class="aliases-list">
                    <span class="alias-owner-status">{{alias.owner.group}}</span>
                    - <span class="alias-owner">{{alias.owner.name}}</span> est aussi: </br>

                        {% for dc in alias.aliases.all %}
                            <span class="alias-grp-status">{{dc.owner.group}}</span> 
                                {% if not forloop.last %}
                                    <span class="alias-grp">{{dc.owner.name}}</span>,
                                {% else %}
                                    <span class="alias-grp">{{dc.owner.name}}</span> 
                                {% endif %}
                        {% endfor %}
                        
                </li>  
                
        {% endif %} 
    {% endfor %}
    </div>
</div>


<script type="text/javascript">

    let aliases = document.getElementsByClassName('alias-grp-status');
    let owners = document.getElementsByClassName('alias-owner-status');

    for (let i=0; i < owners.length; i++) {    
         owners[i].nextElementSibling.className= `dc_${owners[i].innerHTML.toLowerCase().replace(/[^a-zA-Z0-9]/g, '')}`
    }
    
    for (let i=0; i < aliases.length; i++) {        
        aliases[i].nextElementSibling.className = `dc_${aliases[i].innerHTML.toLowerCase().replace(/[^a-zA-Z0-9]/g, '')}`
    }

</script>