{% load static %}

<div class="aliases-dropdown-selector">
  <div id="aliases-searchbar">
    <span class="aliases-searchbar-title" onclick="panelaliaseToggle()">
      <span id="alias-selector-title">Ajouter un nouvel alias</span>
      <span class="alias-arrow">></span>
    </span>
    <div id="aliases-search-container">
      <div id="aliases-search-field">
        <input
          id="alias_search_bar_input"
          type="text"
          placeholder="Rechercher..." 
        />
        <button id="alias_search_val"><img src="{% static 'images/search-button.svg' %}"></button>
      </div>

      <form action="{% url 'add_aliasSheet' fiche.id %}" method="POST">
        {% csrf_token %}
          <div class="alias-search-content" id="aliases-list">
            <div class="lds-dual-ring"></div>
          </div>
      
          {% if user.is_staff %}
            <div class="aliases-search-btn-grp">
              <button type="submit" class="aliases-search-btn" id="alias-send" onclick="handleAliasPayload()" >Ajouter</button>
            </div>
          {% endif %}
    </form>
    </div>
  </div>
</div>

<script src="{% static 'js/selectorAliases.js' %}"></script>
