<div class="blason-background"></div>

<div id="listing-total" class="chronique-total">
    <div><span class="peuple_c"><a href="https://marbrume.forumactif.com/t4504-les-recensements-des-metiers-et-postes-de-nos-joueurs" target="_blank">{{chronique.characters}} personnages</a></span> foulent actuellement les terres de Marbrume et de ses environs.</div>
    <div class="chronique-subtotal">Dont <span class="noble_c">{{chronique.dc}} doubles comptes</span>, créés par <de class="milice_c">{{chronique.aliases}} de nos membres</span>.</div>
</div>
    

<div class="forum-stats sheets-text">
    <div class="forum-counts">- Nous dénombrons actuellement <a href="https://marbrume.forumactif.com/t5938-le-peuple" target="_blank"><div class="peuple_c count">{{chronique.people}} Habitant(s)</div></a></div>
    <div class="forum-counts">- Ainsi que <a href="https://marbrume.forumactif.com/t5929-la-noblesse" target="_blank"><div class="noble_c count">{{chronique.nobles}} Noble(s)</div></a></div>
    <div class="forum-counts">- Servis par <a href="https://marbrume.forumactif.com/t5685-le-temple" target="_blank"><div class="clerge_c count">{{chronique.clergy}} Prêtres(ses)</div></a></div>
    <div class="forum-counts">- Sous la protection de <a href="https://marbrume.forumactif.com/t5932-la-milice" target="_blank"><div class="milice_c count">{{chronique.militia}} Milicien(nes)</div></a></div>
    <div class="forum-counts">- Les marais sont hantés par <a href="https://marbrume.forumactif.com/t5916-les-bannis" target="_blank"><div class="banni_c count">{{chronique.banished}} Banni(es)</div></a></div>
</div>