<div class="sheet-container reputations-container">
    <form action="{% url 'edit-reputation' fiche.id %}" method="POST" name="sheet-form" id="sheet-form">
        {% csrf_token %}
        <ul class="reputations-list">

            <li class="reputation-item">◈ Réputation auprès de la Couronne: {{repForm.kingStatus}} :
                {% if reputation.kingStatus == 'Excellente' %}
                    <span>{{flavorText.kingStatus.exalted.text}}</span>
                {% elif reputation.kingStatus == 'Positive' %}
                    <span>{{flavorText.kingStatus.positive.text}}</span>                
                {% elif reputation.kingStatus == 'Neutre' %}
                    <span>{{flavorText.kingStatus.neutral.text}}</span>                
                {% elif reputation.kingStatus == 'Négative' %}
                    <span>{{flavorText.kingStatus.negative.text}}</span>                
                {% elif reputation.kingStatus == 'Recherché' %}
                    <span>{{flavorText.kingStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès de la Noblesse: {{repForm.nobilityStatus}} : 
                {% if reputation.nobilityStatus == 'Excellente' %}
                    <span>{{flavorText.nobilityStatus.exalted.text}}</span>
                {% elif reputation.nobilityStatus == 'Positive' %}
                    <span>{{flavorText.nobilityStatus.positive.text}}</span>                
                {% elif reputation.nobilityStatus == 'Neutre' %}
                    <span>{{flavorText.nobilityStatus.neutral.text}}</span>                
                {% elif reputation.nobilityStatus == 'Négative' %}
                    <span>{{flavorText.nobilityStatus.negative.text}}</span>                
                {% elif reputation.nobilityStatus == 'Recherché' %}
                    <span>{{flavorText.nobilityStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès du Peuple: {{repForm.peopleStatus}} : 
                {% if reputation.peopleStatus == 'Excellente' %}
                    <span>{{flavorText.peopleStatus.exalted.text}}</span>
                {% elif reputation.peopleStatus == 'Positive' %}
                    <span>{{flavorText.peopleStatus.positive.text}}</span>                
                {% elif reputation.peopleStatus == 'Neutre' %}
                    <span>{{flavorText.peopleStatus.neutral.text}}</span>                
                {% elif reputation.peopleStatus == 'Négative' %}
                    <span>{{flavorText.peopleStatus.negative.text}}</span>                
                {% elif reputation.peopleStatus == 'Recherché' %}
                    <span>{{flavorText.peopleStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès de la Milice: {{repForm.militiaStatus}} : 
                {% if reputation.militiaStatus == 'Excellente' %}
                    <span>{{flavorText.militiaStatus.exalted.text}}</span>
                {% elif reputation.militiaStatus == 'Positive' %}
                    <span>{{flavorText.militiaStatus.positive.text}}</span>                
                {% elif reputation.militiaStatus == 'Neutre' %}
                    <span>{{flavorText.militiaStatus.neutral.text}}</span>                
                {% elif reputation.militiaStatus == 'Négative' %}
                    <span>{{flavorText.militiaStatus.negative.text}}</span>                
                {% elif reputation.militiaStatus == 'Recherché' %}
                    <span>{{flavorText.militiaStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès du Clergé: {{repForm.clergyStatus}} : 
                {% if reputation.clergyStatus == 'Excellente' %}
                    <span>{{flavorText.clergyStatus.exalted.text}}</span>
                {% elif reputation.clergyStatus == 'Positive' %}
                    <span>{{flavorText.clergyStatus.positive.text}}</span>                
                {% elif reputation.clergyStatus == 'Neutre' %}
                    <span>{{flavorText.clergyStatus.neutral.text}}</span>                
                {% elif reputation.clergyStatus == 'Négative' %}
                    <span>{{flavorText.clergyStatus.negative.text}}</span>                
                {% elif reputation.clergyStatus == 'Recherché' %}
                    <span>{{flavorText.clergyStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès du Labret: {{repForm.labretStatus}} : 
                {% if reputation.labretStatus == 'Excellente' %}
                    <span>{{flavorText.labretStatus.exalted.text}}</span>
                {% elif reputation.labretStatus == 'Positive' %}
                    <span>{{flavorText.labretStatus.positive.text}}</span>                
                {% elif reputation.labretStatus == 'Neutre' %}
                    <span>{{flavorText.labretStatus.neutral.text}}</span>                
                {% elif reputation.labretStatus == 'Négative' %}
                    <span>{{flavorText.labretStatus.negative.text}}</span>                
                {% elif reputation.labretStatus == 'Recherché' %}
                    <span>{{flavorText.labretStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès de Sombrebois: {{repForm.sombreboisStatus}} : 
                {% if reputation.sombreboisStatus == 'Excellente' %}
                    <span>{{flavorText.sombreboisStatus.exalted.text}}</span>
                {% elif reputation.sombreboisStatus == 'Positive' %}
                    <span>{{flavorText.sombreboisStatus.positive.text}}</span>                
                {% elif reputation.sombreboisStatus == 'Neutre' %}
                    <span>{{flavorText.sombreboisStatus.neutral.text}}</span>                
                {% elif reputation.sombreboisStatus == 'Négative' %}
                    <span>{{flavorText.sombreboisStatus.negative.text}}</span>                
                {% elif reputation.sombreboisStatus == 'Recherché' %}
                    <span>{{flavorText.sombreboisStatus.wanted.text}}</span>
                {% endif %}
            </li>
            
            {% if fiche.group == 'Banni(e)' %}
            <li class="reputation-item">◈ Réputation auprès des bannis: 

                <select name="banishedStatus" id="id_banishedStatus" selected={{reputation.banishedStatus}} value={{reputation.banishedStatus}}>                  
                    <option value="Excellente">Excellente</option>                  
                    <option value="Positive">Positive</option>                  
                    <option value="Neutre">Neutre</option>                  
                    <option value="Négative">Négative</option>                  
                    <option value="Recherché">Recherché</option>                  
                  </select> : 

                {% if reputation.banishedStatus == 'Excellente' %}
                    <span>{{flavorText.banishedStatus.exalted.text}}</span>
                {% elif reputation.banishedStatus == 'Positive' %}
                    <span>{{flavorText.banishedStatus.positive.text}}</span>                
                {% elif reputation.banishedStatus == 'Neutre' %}
                    <span>{{flavorText.banishedStatus.neutral.text}}</span>                
                {% elif reputation.banishedStatus == 'Négative' %}
                    <span>{{flavorText.banishedStatus.negative.text}}</span>                
                {% elif reputation.banishedStatus == 'Recherché' %}
                    <span>{{flavorText.banishedStatus.wanted.text}}</span>
                {% endif %}
            </li>
            {% endif %}

            <li class="reputation-item">◈ Réputation auprès de la pègre de Marbrume: {{repForm.mafiaStatus}} : 
                {% if reputation.mafiaStatus == 'Excellente' %}
                    <span>{{flavorText.mafiaStatus.exalted.text}}</span>
                {% elif reputation.mafiaStatus == 'Positive' %}
                    <span>{{flavorText.mafiaStatus.positive.text}}</span>                
                {% elif reputation.mafiaStatus == 'Neutre' %}
                    <span>{{flavorText.mafiaStatus.neutral.text}}</span>                
                {% elif reputation.mafiaStatus == 'Négative' %}
                    <span>{{flavorText.mafiaStatus.negative.text}}</span>                
                {% elif reputation.mafiaStatus == 'Recherché' %}
                    <span>{{flavorText.mafiaStatus.wanted.text}}</span>
                {% endif %}
            </li>

            {% if fiche.member == 'Oui' %}

            <li class="reputation-item">◈ Réputation auprès de la Guilde: 

                <select name="guildStatus" id="id_guildStatus" selected={{reputation.guildStatus}} value={{reputation.guildStatus}}>                  
                    <option value="Excellente">Excellente</option>                  
                    <option value="Positive">Positive</option>                  
                    <option value="Neutre">Neutre</option>                  
                    <option value="Négative">Négative</option>                  
                    <option value="Recherché">Recherché</option>                  
                  </select> : 

                {% if reputation.guildStatus == 'Excellente' %}
                    <span>{{flavorText.guildStatus.exalted.text}}</span>
                {% elif reputation.guildStatus == 'Positive' %}
                    <span>{{flavorText.guildStatus.positive.text}}</span>                
                {% elif reputation.guildStatus == 'Neutre' %}
                    <span>{{flavorText.guildStatus.neutral.text}}</span>                
                {% elif reputation.guildStatus == 'Négative' %}
                    <span>{{flavorText.guildStatus.negative.text}}</span>                
                {% elif reputation.guildStatus == 'Recherché' %}
                    <span>{{flavorText.guildStatus.wanted.text}}</span>
                {% endif %}
            </li>

            {% endif %}
            

            <li class="reputation-item last">◈ Réputation générale: {{repForm.globalStatus}} : 
                {% if reputation.globalStatus == 'Excellente' %}
                    <span>{{flavorText.globalStatus.exalted.text}}</span>
                {% elif reputation.globalStatus == 'Positive' %}
                    <span>{{flavorText.globalStatus.positive.text}}</span>                
                {% elif reputation.globalStatus == 'Neutre' %}
                    <span>{{flavorText.globalStatus.neutral.text}}</span>                
                {% elif reputation.globalStatus == 'Négative' %}
                    <span>{{flavorText.globalStatus.negative.text}}</span>                
                {% elif reputation.globalStatus == 'Recherché' %}
                    <span>{{flavorText.globalStatus.wanted.text}}</span>
                {% endif %}
            </li>
        </ul>

        {% if user.is_staff %}
            <div class="reputations-btns-grp">
                <button type="submit" class="sheet-table-btn">Modifier</button>
            </div>
        {% endif %}
    </form>
</div>
