<div class="sheet-container reputations-container">
    <form action="{% url 'edit-reputation' fiche.id %}" method="POST" name="sheet-form" id="sheet-form">
        {% csrf_token %}
        <ul class="reputations-list">

            <li class="reputation-item">◈ Réputation auprès du Roi: {{repForm.kingStatus}} :
                {% if reputation.kingStatus == 'Neutre' %}
                <span>Vous n'êtes pas connu du Roi.</span>
                {% elif reputation.kingStatus == 'Positive' %}
                <span>Vous êtes apprécié du Roi.</span>
                {% else %}
                <span>Vous êtes un ennemi du Roi.</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès de la Noblesse: {{repForm.nobilityStatus}} : 
                {% if reputation.nobilityStatus == 'Neutre' %}
                <span>Vous n'êtes visiblement pas connu dans le coin, ni positivement, ni négativement, votre présence passe complètement inaperçue.</span>
                {% elif reputation.nobilityStatus == 'Positive' %}
                <span>Votre visage n'est pas complètement inconnu, quelques sourires par-ci, par-là, vous semblez être apprécié par certains.</span>
                {% else %}
                <span>À reformuler.</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès du Peuple: {{repForm.peopleStatus}} : 
                {% if reputation.peopleStatus == 'Neutre' %}
                <span>Vous n'êtes visiblement pas connu dans le coin, ni positivement, ni négativement, votre présence passe complètement inaperçue.</span>
                {% elif reputation.peopleStatus == 'Positive' %}
                <span>Votre visage n'est pas complètement inconnu, quelques sourires par-ci, par-là, vous semblez être apprécié par certains.</span>
                {% else %}
                <span>À reformuler.</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès du Clergé: {{repForm.clergyStatus}} : 
                {% if reputation.clergyStatus == 'Neutre' %}
                <span>Vous n'êtes visiblement pas connu des serviteurs des Trois, ni positivement, ni négativement, votre présence passe complètement inaperçue.</span>
                {% elif reputation.clergyStatus == 'Positive' %}
                <span>À reformuler.</span>
                {% else %}
                <span>À reformuler.</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès du Labret: {{repForm.labretStatus}} : 
                {% if reputation.labretStatus == 'Neutre' %}
                <span>Vous n'êtes visiblement pas connu dans le coin, ni positivement, ni négativement, votre présence passe complètement inaperçue.</span>
                {% elif reputation.labretStatus == 'Positive' %}
                <span>Votre visage n'est pas complètement inconnu, quelques sourires par-ci, par-là, vous semblez être apprécié par certains.</span>
                {% else %}
                <span>À reformuler.</span>
                {% endif %}
            </li>

            
            {% if fiche.group == 'Banni(e)' %}
            <li class="reputation-item">◈ Réputation auprès du village des bannis: {{repForm.banishedStatus}} : 
                {% if reputation.banishedStatus == 'Neutre' %}
                <span>À reformuler.</span>
                {% elif reputation.banishedStatus == 'Positive' %}
                <span>À reformuler.</span>
                {% else %}
                <span>À reformuler.</span>
                {% endif %}
            </li>
            <li class="reputation-item">◈ Réputation auprès de la pègre de Marbrume: {{repForm.mafiaStatus}} : 
                {% if reputation.mafiaStatus == 'Neutre' %}
                <span>À reformuler.</span>
                {% elif reputation.mafiaStatus == 'Positive' %}
                <span>À reformuler.</span>
                {% else %}
                <span>À reformuler.</span>
                {% endif %}
            </li>
            {% endif %}

            <li class="reputation-item last">◈ Réputation générale: {{repForm.globalStatus}} : 
                {% if reputation.globalStatus == 'Neutre' %}
                <span>À reformuler.</span>
                {% elif reputation.globalStatus == 'Positive' %}
                <span>À reformuler.</span>
                {% else %}
                <span>À reformuler.</span>
                {% endif %}
            </li>
        </ul>

        <div class="reputations-btns-grp">
            <button type="submit" class="sheet-table-btn">Modifier</button>
        </div>
    </form>
</div>

<script >
    $('.reputation-item').on('change', function(){
        $(this).closest('form').submit();
    });
</script>
