{% load static %}

<!DOCTYPE html>
<html> 
  <head>   
    <meta charset="UTF-8"/>   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles/colors.css' %}">
    </head>
   
  <body>
      <style>

        * {
            margin: 0;
            padding: 0;
            color: #938471;
            transition: 250ms all;
            font-family: "Caudex", serif;
          }

          body {
              background-color: transparent !important;
          }

          .reputations-container {
            height: auto;
            margin-top: 10px;
          }
          
          .reputations-list {
            list-style: none;
            padding: 0px 20px 10px 20px;
            line-height: 20px;
            text-align: justify;
          }
          
          .reputation-item {
            font-size: 14px;
            font-weight: 700;
          }
          
          .last {
            border: none !important;
          }
          
          .reputation-item span {
            font-size: 13px;
            font-weight: 400;
          }
          
          .iframe {
            border: none;
            padding-bottom: 5px;
            margin-top: 5px;
          }
          
          .status {
            position: relative;
          }
          
          .sub-status {
            font-size: 12px !important;
          }

      </style>

        <ul class="reputations-list">

            <li class="reputation-item iframe">◈ Réputation auprès de la Couronne:
                {% if reputation.kingStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.kingStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.kingStatus}})</span>
                    <span>{{reputation.flavor_text.kingStatus.exalted.text}}</span>
                {% elif reputation.kingStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.kingStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.kingStatus}})</span>
                    <span>{{reputation.flavor_text.kingStatus.positive.text}}</span>                
                {% elif reputation.kingStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.kingStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.kingStatus}})</span>
                    <span>{{reputation.flavor_text.kingStatus.neutral.text}}</span>                
                {% elif reputation.kingStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.kingStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.kingStatus}})</span>
                    <span>{{reputation.flavor_text.kingStatus.negative.text}}</span>                
                {% elif reputation.kingStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.kingStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.kingStatus}})</span>
                    <span>{{reputation.flavor_text.kingStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item iframe">◈ Réputation auprès de la Noblesse:
                {% if reputation.nobilityStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.nobilityStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.nobilityStatus}})</span>
                    <span>{{reputation.flavor_text.nobilityStatus.exalted.text}}</span>
                {% elif reputation.nobilityStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.nobilityStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.nobilityStatus}})</span>
                    <span>{{reputation.flavor_text.nobilityStatus.positive.text}}</span>                
                {% elif reputation.nobilityStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.nobilityStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.nobilityStatus}})</span>
                    <span>{{reputation.flavor_text.nobilityStatus.neutral.text}}</span>                
                {% elif reputation.nobilityStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.nobilityStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.nobilityStatus}})</span>
                    <span>{{reputation.flavor_text.nobilityStatus.negative.text}}</span>                
                {% elif reputation.nobilityStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.nobilityStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.nobilityStatus}})</span>
                    <span>{{reputation.flavor_text.nobilityStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item iframe">◈ Réputation auprès du Peuple:
                {% if reputation.peopleStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.peopleStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.peopleStatus}})</span>
                    <span>{{reputation.flavor_text.peopleStatus.exalted.text}}</span>
                {% elif reputation.peopleStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.peopleStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.peopleStatus}})</span>
                    <span>{{reputation.flavor_text.peopleStatus.positive.text}}</span>                
                {% elif reputation.peopleStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.peopleStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.peopleStatus}})</span>
                    <span>{{reputation.flavor_text.peopleStatus.neutral.text}}</span>                
                {% elif reputation.peopleStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.peopleStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.peopleStatus}})</span>
                    <span>{{reputation.flavor_text.peopleStatus.negative.text}}</span>                
                {% elif reputation.peopleStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.peopleStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.peopleStatus}})</span>
                    <span>{{reputation.flavor_text.peopleStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item iframe">◈ Réputation auprès de la Milice:
                {% if reputation.militiaStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.militiaStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.militiaStatus}})</span>
                    <span>{{reputation.flavor_text.militiaStatus.exalted.text}}</span>
                {% elif reputation.militiaStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.militiaStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.militiaStatus}})</span>
                    <span>{{reputation.flavor_text.militiaStatus.positive.text}}</span>                
                {% elif reputation.militiaStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.militiaStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.militiaStatus}})</span>
                    <span>{{reputation.flavor_text.militiaStatus.neutral.text}}</span>                
                {% elif reputation.militiaStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.militiaStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.militiaStatus}})</span>
                    <span>{{reputation.flavor_text.militiaStatus.negative.text}}</span>                
                {% elif reputation.militiaStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.militiaStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.militiaStatus}})</span>
                    <span>{{reputation.flavor_text.militiaStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item iframe">◈ Réputation auprès du Clergé:
                {% if reputation.clergyStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.clergyStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.clergyStatus}})</span>
                    <span>{{reputation.flavor_text.clergyStatus.exalted.text}}</span>
                {% elif reputation.clergyStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.clergyStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.clergyStatus}})</span>
                    <span>{{reputation.flavor_text.clergyStatus.positive.text}}</span>                
                {% elif reputation.clergyStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.clergyStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.clergyStatus}})</span>
                    <span>{{reputation.flavor_text.clergyStatus.neutral.text}}</span>                
                {% elif reputation.clergyStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.clergyStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.clergyStatus}})</span>
                    <span>{{reputation.flavor_text.clergyStatus.negative.text}}</span>                
                {% elif reputation.clergyStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.clergyStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.clergyStatus}})</span>
                    <span>{{reputation.flavor_text.clergyStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item iframe">◈ Réputation auprès du Labret:
                {% if reputation.labretStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.labretStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.labretStatus}})</span>
                    <span>{{reputation.flavor_text.labretStatus.exalted.text}}</span>
                {% elif reputation.labretStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.labretStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.labretStatus}})</span>
                    <span>{{reputation.flavor_text.labretStatus.positive.text}}</span>                
                {% elif reputation.labretStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.labretStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.labretStatus}})</span>
                    <span>{{reputation.flavor_text.labretStatus.neutral.text}}</span>                
                {% elif reputation.labretStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.labretStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.labretStatus}})</span>
                    <span>{{reputation.flavor_text.labretStatus.negative.text}}</span>                
                {% elif reputation.labretStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.labretStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.labretStatus}})</span>
                    <span>{{reputation.flavor_text.labretStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item iframe">◈ Réputation auprès de Sombrebois:
                {% if reputation.sombreboisStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.sombreboisStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.sombreboisStatus}})</span>
                    <span>{{reputation.flavor_text.sombreboisStatus.exalted.text}}</span>
                {% elif reputation.sombreboisStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.sombreboisStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.sombreboisStatus}})</span>
                    <span>{{reputation.flavor_text.sombreboisStatus.positive.text}}</span>                
                {% elif reputation.sombreboisStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.sombreboisStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.sombreboisStatus}})</span>
                    <span>{{reputation.flavor_text.sombreboisStatus.neutral.text}}</span>                
                {% elif reputation.sombreboisStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.sombreboisStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.sombreboisStatus}})</span>
                    <span>{{reputation.flavor_text.sombreboisStatus.negative.text}}</span>                
                {% elif reputation.sombreboisStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.sombreboisStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.sombreboisStatus}})</span>
                    <span>{{reputation.flavor_text.sombreboisStatus.wanted.text}}</span>
                {% endif %}
            </li>
            
            {% if fiche.group == 'Banni(e)' %}
            <li class="reputation-item iframe">◈ Réputation auprès des Bannis:
                {% if reputation.banishedStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.banishedStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.banishedStatus}})</span>
                    <span>{{reputation.flavor_text.banishedStatus.exalted.text}}</span>
                {% elif reputation.banishedStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.banishedStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.banishedStatus}})</span>
                    <span>{{reputation.flavor_text.banishedStatus.positive.text}}</span>                
                {% elif reputation.banishedStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.banishedStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.banishedStatus}})</span>
                    <span>{{reputation.flavor_text.banishedStatus.neutral.text}}</span>                
                {% elif reputation.banishedStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.banishedStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.banishedStatus}})</span>
                    <span>{{reputation.flavor_text.banishedStatus.negative.text}}</span>                
                {% elif reputation.banishedStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.banishedStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.banishedStatus}})</span>
                    <span>{{reputation.flavor_text.banishedStatus.wanted.text}}</span>
                {% endif %}
            </li>
            {% endif %}

            <li class="reputation-item iframe">◈ Réputation auprès de la pègre de Marbrume:
                {% if reputation.mafiaStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.mafiaStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.mafiaStatus}})</span>
                    <span>{{reputation.flavor_text.mafiaStatus.exalted.text}}</span>
                {% elif reputation.mafiaStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.mafiaStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.mafiaStatus}})</span>
                    <span>{{reputation.flavor_text.mafiaStatus.positive.text}}</span>                
                {% elif reputation.mafiaStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.mafiaStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.mafiaStatus}})</span>
                    <span>{{reputation.flavor_text.mafiaStatus.neutral.text}}</span>                
                {% elif reputation.mafiaStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.mafiaStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.mafiaStatus}})</span>
                    <span>{{reputation.flavor_text.mafiaStatus.negative.text}}</span>                
                {% elif reputation.mafiaStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.mafiaStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.mafiaStatus}})</span>
                    <span>{{reputation.flavor_text.mafiaStatus.wanted.text}}</span>
                {% endif %}
            </li>

            {% if fiche.member == 'Oui' %}

            <li class="reputation-item iframe">◈ Réputation auprès de la Guilde:
                {% if reputation.guildStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.guildStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.guildStatus}})</span>
                    <span>{{reputation.flavor_text.guildStatus.exalted.text}}</span>
                {% elif reputation.guildStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.guildStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.guildStatus}})</span>
                    <span>{{reputation.flavor_text.guildStatus.positive.text}}</span>                
                {% elif reputation.guildStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.guildStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.guildStatus}})</span>
                    <span>{{reputation.flavor_text.guildStatus.neutral.text}}</span>                
                {% elif reputation.guildStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.guildStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.guildStatus}})</span>
                    <span>{{reputation.flavor_text.guildStatus.negative.text}}</span>                
                {% elif reputation.guildStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.guildStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.guildStatus}})</span>
                    <span>{{reputation.flavor_text.guildStatus.wanted.text}}</span>
                {% endif %}
            </li>

            {% endif %}

            <li class="reputation-item iframe last">◈ Réputation générale:
                {% if reputation.globalStatus == 'Excellente' %}
                    <span class="status">{{reputation.flavor_text.globalStatus.exalted.title}}</span>
                    <span class="sub-status">({{reputation.globalStatus}})</span>
                    <span>{{reputation.flavor_text.globalStatus.exalted.text}}</span>
                {% elif reputation.globalStatus == 'Positive' %}
                    <span class="status">{{reputation.flavor_text.globalStatus.positive.title}}</span>
                    <span class="sub-status">({{reputation.globalStatus}})</span>
                    <span>{{reputation.flavor_text.globalStatus.positive.text}}</span>                
                {% elif reputation.globalStatus == 'Neutre' %}
                    <span class="status">{{reputation.flavor_text.globalStatus.neutral.title}}</span>
                    <span class="sub-status">({{reputation.globalStatus}})</span>
                    <span>{{reputation.flavor_text.globalStatus.neutral.text}}</span>                
                {% elif reputation.globalStatus == 'Négative' %}
                    <span class="status">{{reputation.flavor_text.globalStatus.negative.title}}</span>
                    <span class="sub-status">({{reputation.globalStatus}})</span>
                    <span>{{reputation.flavor_text.globalStatus.negative.text}}</span>                
                {% elif reputation.globalStatus == 'Recherché' %}
                    <span class="status">{{reputation.flavor_text.globalStatus.wanted.title}}</span>
                    <span class="sub-status">({{reputation.globalStatus}})</span>
                    <span>{{reputation.flavor_text.globalStatus.wanted.text}}</span>
                {% endif %}
            </li>

            
        </ul>

  <body>

<script type="text/javascript">

    let reputations = document.getElementsByClassName('status');

    for(let i=0; i < reputations.length; i++) {
        reputations[i].classList.add(`${reputations[i].innerHTML.toLowerCase().split(' ').join('').normalize("NFD").replace(/[\u0300-\u036f]/g, "")}`)
    }
    
</script>