<div class="sheet-container reputations-container">
    <form action="{% url 'edit-reputation' fiche.id %}" method="POST" name="sheet-form" id="sheet-form">
        {% csrf_token %}
        <ul class="reputations-list">

            <li class="reputation-item">◈ Réputation auprès de la Couronne: {{repForm.kingStatus}} :
                {% if reputation.kingStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.kingStatus.exalted.text}}</span>
                {% elif reputation.kingStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.kingStatus.positive.text}}</span>                
                {% elif reputation.kingStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.kingStatus.neutral.text}}</span>                
                {% elif reputation.kingStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.kingStatus.negative.text}}</span>                
                {% elif reputation.kingStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.kingStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès de la Noblesse: {{repForm.nobilityStatus}} : 
                {% if reputation.nobilityStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.nobilityStatus.exalted.text}}</span>
                {% elif reputation.nobilityStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.nobilityStatus.positive.text}}</span>                
                {% elif reputation.nobilityStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.nobilityStatus.neutral.text}}</span>                
                {% elif reputation.nobilityStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.nobilityStatus.negative.text}}</span>                
                {% elif reputation.nobilityStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.nobilityStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès du Peuple: {{repForm.peopleStatus}} : 
                {% if reputation.peopleStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.peopleStatus.exalted.text}}</span>
                {% elif reputation.peopleStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.peopleStatus.positive.text}}</span>                
                {% elif reputation.peopleStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.peopleStatus.neutral.text}}</span>                
                {% elif reputation.peopleStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.peopleStatus.negative.text}}</span>                
                {% elif reputation.peopleStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.peopleStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès de la Milice: {{repForm.militiaStatus}} : 
                {% if reputation.militiaStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.militiaStatus.exalted.text}}</span>
                {% elif reputation.militiaStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.militiaStatus.positive.text}}</span>                
                {% elif reputation.militiaStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.militiaStatus.neutral.text}}</span>                
                {% elif reputation.militiaStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.militiaStatus.negative.text}}</span>                
                {% elif reputation.militiaStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.militiaStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès du Clergé: {{repForm.clergyStatus}} : 
                {% if reputation.clergyStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.clergyStatus.exalted.text}}</span>
                {% elif reputation.clergyStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.clergyStatus.positive.text}}</span>                
                {% elif reputation.clergyStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.clergyStatus.neutral.text}}</span>                
                {% elif reputation.clergyStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.clergyStatus.negative.text}}</span>                
                {% elif reputation.clergyStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.clergyStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès du Labret: {{repForm.labretStatus}} : 
                {% if reputation.labretStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.labretStatus.exalted.text}}</span>
                {% elif reputation.labretStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.labretStatus.positive.text}}</span>                
                {% elif reputation.labretStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.labretStatus.neutral.text}}</span>                
                {% elif reputation.labretStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.labretStatus.negative.text}}</span>                
                {% elif reputation.labretStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.labretStatus.wanted.text}}</span>
                {% endif %}
            </li>

            <li class="reputation-item">◈ Réputation auprès de Sombrebois: {{repForm.sombreboisStatus}} : 
                {% if reputation.sombreboisStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.sombreboisStatus.exalted.text}}</span>
                {% elif reputation.sombreboisStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.sombreboisStatus.positive.text}}</span>                
                {% elif reputation.sombreboisStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.sombreboisStatus.neutral.text}}</span>                
                {% elif reputation.sombreboisStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.sombreboisStatus.negative.text}}</span>                
                {% elif reputation.sombreboisStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.sombreboisStatus.wanted.text}}</span>
                {% endif %}
            </li>
            
            {% if fiche.group == 'Banni(e)' %}
            <li class="reputation-item">◈ Réputation auprès des bannis: {{repForm.banishedStatus}} : 
                {% if reputation.banishedStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.banishedStatus.exalted.text}}</span>
                {% elif reputation.banishedStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.banishedStatus.positive.text}}</span>                
                {% elif reputation.banishedStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.banishedStatus.neutral.text}}</span>                
                {% elif reputation.banishedStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.banishedStatus.negative.text}}</span>                
                {% elif reputation.banishedStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.banishedStatus.wanted.text}}</span>
                {% endif %}
            </li>
            {% endif %}

            <li class="reputation-item">◈ Réputation auprès de la pègre de Marbrume: {{repForm.mafiaStatus}} : 
                {% if reputation.mafiaStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.mafiaStatus.exalted.text}}</span>
                {% elif reputation.mafiaStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.mafiaStatus.positive.text}}</span>                
                {% elif reputation.mafiaStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.mafiaStatus.neutral.text}}</span>                
                {% elif reputation.mafiaStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.mafiaStatus.negative.text}}</span>                
                {% elif reputation.mafiaStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.mafiaStatus.wanted.text}}</span>
                {% endif %}
            </li>

            {% if fiche.member == 'Oui' %}

            <li class="reputation-item">◈ Réputation auprès de la Guilde: {{repForm.guildStatus}} :
                {% if reputation.guildStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.guildStatus.exalted.text}}</span>
                {% elif reputation.guildStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.guildStatus.positive.text}}</span>                
                {% elif reputation.guildStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.guildStatus.neutral.text}}</span>                
                {% elif reputation.guildStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.guildStatus.negative.text}}</span>                
                {% elif reputation.guildStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.guildStatus.wanted.text}}</span>
                {% endif %}
            </li>

            {% endif %}
            

            <li class="reputation-item last">◈ Réputation générale: {{repForm.globalStatus}} : 
                {% if reputation.globalStatus == 'Excellente' %}
                    <span>{{reputation.flavor_text.globalStatus.exalted.text}}</span>
                {% elif reputation.globalStatus == 'Positive' %}
                    <span>{{reputation.flavor_text.globalStatus.positive.text}}</span>                
                {% elif reputation.globalStatus == 'Neutre' %}
                    <span>{{reputation.flavor_text.globalStatus.neutral.text}}</span>                
                {% elif reputation.globalStatus == 'Négative' %}
                    <span>{{reputation.flavor_text.globalStatus.negative.text}}</span>                
                {% elif reputation.globalStatus == 'Recherché' %}
                    <span>{{reputation.flavor_text.globalStatus.wanted.text}}</span>
                {% endif %}
            </li>
        </ul>

        {% if user.is_staff %}
            <div class="reputations-btns-grp">
                <button type="submit" class="sheet-table-btn">Modifier</button>
            </div>
        {% endif %}
    </form>
</div>
