{% extends "base/index.html" %} 
{% load static %} 
{% block content %}

{% include "base/searchbar.html" %}

<div class="container">

    <div class="mode-selector-btns-grp backup-submit">
        <a href="{% url 'new_chronique' %}"><button type="submit" class="header-item">Nouvelle chronique</button></a>
    </div>

    <div class="sheet-container backups bckg">

        <div class="armory-title carriere-block-title">Chroniques</div>
        <table class="armory-body bckg">
            <tbody>
                <tr class="armory-header">
                    <td class="backup-id">Id</td>
                    <td class="armory-block">Date</td>
                    <td>Lien</td>
                    <td class="backup-desc">Actions</td>
                </tr>
                {% for chronique in chroniques %}
                <tr>
                    <td class="backup-id">{{forloop.counter}}</td>
                    <td class="armory-block">{{chronique.created|date:'F Y'|capfirst}}</td>
                    <td><a href="{{url}}{{chronique.id}}">{{url}}{{chronique.id}}</a></td>
                    <td class="backup-desc actions">
                        
                        <button class="backup-actions export" id="export-chronique" value="{{url}}{{chronique.id}}" onclick="handlePaste(event)"></button>
  
                        <a class="backup-actions delete" href="{% url 'confirm_chronique' chronique.id %}"></a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>

    </div>


</div>

<script type="text/javascript">

    const handlePaste = (event) => {
        const output = `<iframe id="export-chronique" src="${event.target.value}" width="700" frameborder="0" height="2300"></iframe>`;
        navigator.clipboard.writeText(output).then(
            () => {
                swal('', "L'iframe a été collée dans le presse papiers avec succès!", 'success', {
                    closeOnClickOutside: true,
                    buttons: false,
                    timer: 2000
                });
            },
            (err) => {
                console.log(err);
            }
        );
    };

</script>

{% endblock %}