{% extends "base/index.html" %} 
{% load static %} 
{% block content %}

{% include "base/searchbar.html" %}

<div class="mode-selector-btns-grp" id="sheets-selector">
    <a href="{% url 'carrieres_details' %}"><button class="sheet-table-btn mode-selector" id="mode-selector-1">Modèle</button></a>
    <a href="{% url 'carrieres_iframe' %}"><button class="sheet-table-btn mode-selector" id="mode-selector-2">Iframe</button></a>
</div>

<div class="container">
    
<div class="sheet-container bckg creation" id="carriere-container">

    <form action="{% url 'add_carriere' %}" method="POST" name="sheet-form">
        {% csrf_token %}

    <table class="sheet-table" id="carriere-table">

        <div class="sheet-table-header">
            <input id="carriere_name" name="name" value="Carrière ">
                <select name="group" id="id_group">              
                    <option value="Milice(ne)">Milice</option>
                    <option value="Habitant(e)">Peuple</option>             
                    <option value="Noble">Noblesse</option>             
                    <option value="Prêtre(sse)">Clergé</option>             
                    <option value="Banni(e)">Bannis</option>            
                </select>
        </div>      

        <tr>
            <td style="font-size: 12px; padding-right: 10px;"></td>
            <td style="border-bottom: none;">FOR</td>
            <td style="border-bottom: none;">END</td>
            <td style="border-bottom: none;">HAB</td>
            <td style="border-bottom: none;">CHA</td>
            <td style="border-bottom: none;">INT</td>
            <td style="border-bottom: none;">INI</td>
            <td style="border-bottom: none;">ATT</td>
            <td style="border-bottom: none;">PAR</td>
            <td style="border-bottom: none;">TIR</td>
            <td style="border-bottom: none;">NA</td>
            <td style="border-bottom: none;">PV</td>
        </tr>

        {% for i in range %}

        <tr>
            <td style="font-size: 12px; padding-right: 10px;">Rang {{forloop.counter}}</td>
            <td><input type="number" name="For{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="End{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="Hab{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="Char{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="Int{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="Ini{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="Att{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="Par{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="Tir{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="Na{{forloop.counter}}" min="1"></td>
            <td><input type="number" name="Pv{{forloop.counter}}" min="5" step="5"></td>
        </tr>

        {% endfor %}

            <div class="sheet-table-btns-grp">
                <button type="submit" class="sheet-table-btn">Valider</button>
                <button type="reset" class="sheet-table-btn" id="reset">Effacer</button>
            </div>

    </table>

</form>

</div>

<div class="list-container" id="carrieres-container">
    
    {% for carriere in carrieres %}

        <div class="sheet-list-item">

            <a href="{% url 'carriere' carriere.id %}"><span class="sheet-list-item-id">{{carriere.id}}:</span> {{carriere.name}}</a>

            {% if user.is_staff %}
        
                <div class="crud-grp">
                    <a href="{% url 'confirm_carriere' carriere.id %}"><button class="crud" id="delete">X</button></a>
                </div>

            {% endif %}

        </div>

    {% endfor %}
</div>

</div>
{% include 'base/pagination.html' with queryset=carrieres custom_range=custom_range %}


{% endblock %}