<div class="sheet-container" id="carriere-details-container">
    <table class="sheet-table full_details" id="carriere-table">
        <div class="sheet-table-header">
            <span class="carriere-block-title">{{carriere.name}}</span>
        </div>


        <tr>
            <td style="border-bottom: none;"></td>
            <td style="border-bottom: none;">FOR</td>
            <td style="border-bottom: none;">END</td>
            <td style="border-bottom: none;">HAB</td>
            <td style="border-bottom: none;">CHA</td>
            <td style="border-bottom: none;">INT</td>
            <td style="border-bottom: none;">INI</td>
            <td style="border-bottom: none;">ATT</td>
            <td style="border-bottom: none;">PAR</td>
            <td style="border-bottom: none;">TIR</td>
            <td style="border-bottom: none;">NA</td>
            <td style="border-bottom: none;">PV</td>
    
        </tr>
       
     

        <tr class="rank1">
            <td style="font-size: 12px; padding-right: 10px;">Rang 1</td>
            <td><input type="number" name="For1" min="1" value="{{carriere.For1}}"></td>
            <td><input type="number" name="End1" min="1" value="{{carriere.End1}}"></td>
            <td><input type="number" name="Hab1" min="1" value="{{carriere.Hab1}}"></td>
            <td><input type="number" name="Char1" min="1" value="{{carriere.Char1}}"></td>
            <td><input type="number" name="Int1" min="1" value="{{carriere.Int1}}"></td>
            <td><input type="number" name="Ini1" min="1" value="{{carriere.Ini1}}"></td>
            <td><input type="number" name="Att1" min="1" value="{{carriere.Att1}}"></td>
            <td><input type="number" name="Par1" min="1" value="{{carriere.Par1}}"></td>
            <td><input type="number" name="Tir1" min="1" value="{{carriere.Tir1}}"></td>
            <td><input type="number" name="Na1" min="1" value="{{carriere.Na1}}"></td>
            <td><input type="number" name="Pv1" min="5" step="5" value="{{carriere.Pv1}}"></td>
        </tr>

        <tr class="rank2">
            <td style="font-size: 12px;">Rang 2 </td>
            <td><input type="number" name="For2" min="1" value="{{carriere.For2}}"></td>
            <td><input type="number" name="End2" min="1" value="{{carriere.End2}}"></td>
            <td><input type="number" name="Hab2" min="1" value="{{carriere.Hab2}}"></td>
            <td><input type="number" name="Char2" min="1" value="{{carriere.Char2}}"></td>
            <td><input type="number" name="Int2" min="1" value="{{carriere.Int2}}"></td>
            <td><input type="number" name="Ini2" min="1" value="{{carriere.Ini2}}"></td>
            <td><input type="number" name="Att2" min="1" value="{{carriere.Att2}}"></td>
            <td><input type="number" name="Par2" min="1" value="{{carriere.Par2}}"></td>
            <td><input type="number" name="Tir2" min="1" value="{{carriere.Tir2}}"></td>
            <td><input type="number" name="Na2" min="1" value="{{carriere.Na2}}"></td>
            <td><input type="number" name="Pv2" min="5" step="5" value="{{carriere.Pv2}}"></td>
        </tr>

        <tr class="rank3">
            <td style="font-size: 12px;">Rang 3 </td>
            <td><input type="number" name="For3" min="1" value="{{carriere.For3}}"></td>
            <td><input type="number" name="End3" min="1" value="{{carriere.End3}}"></td>
            <td><input type="number" name="Hab3" min="1" value="{{carriere.Hab3}}"></td>
            <td><input type="number" name="Char3" min="1" value="{{carriere.Char3}}"></td>
            <td><input type="number" name="Int3" min="1" value="{{carriere.Int3}}"></td>
            <td><input type="number" name="Ini3" min="1" value="{{carriere.Ini3}}"></td>
            <td><input type="number" name="Att3" min="1" value="{{carriere.Att3}}"></td>
            <td><input type="number" name="Par3" min="1" value="{{carriere.Par3}}"></td>
            <td><input type="number" name="Tir3" min="1" value="{{carriere.Tir3}}"></td>
            <td><input type="number" name="Na3" min="1" value="{{carriere.Na3}}"></td>
            <td><input type="number" name="Pv3" min="5" step="5" value="{{carriere.Pv3}}"></td>
        </tr>
    
        <tr class="rank4">
            <td style="font-size: 12px;">Rang 4 </td>
            <td><input type="number" name="For4" min="1" value="{{carriere.For4}}"></td>
            <td><input type="number" name="End4" min="1" value="{{carriere.End4}}"></td>
            <td><input type="number" name="Hab4" min="1" value="{{carriere.Hab4}}"></td>
            <td><input type="number" name="Char4" min="1" value="{{carriere.Char4}}"></td>
            <td><input type="number" name="Int4" min="1" value="{{carriere.Int4}}"></td>
            <td><input type="number" name="Ini4" min="1" value="{{carriere.Ini4}}"></td>
            <td><input type="number" name="Att4" min="1" value="{{carriere.Att4}}"></td>
            <td><input type="number" name="Par4" min="1" value="{{carriere.Par4}}"></td>
            <td><input type="number" name="Tir4" min="1" value="{{carriere.Tir4}}"></td>
            <td><input type="number" name="Na4" min="1" value="{{carriere.Na4}}"></td>
            <td><input type="number" name="Pv4" min="5" step="5" value="{{carriere.Pv4}}"></td>
        </tr>

    </table>

    <div class="carriere-stats">
        <li class="carriere-stats-details"><p>Passage du Rang 1 &#10230; Rang 2: </p> <span class="result1"></span><span>xp</span></li>
        <li class="carriere-stats-details"><p>Passage du Rang 2 &#10230; Rang 3: </p> <span class="result2"></span><span>xp</span></li> 
        <li class="carriere-stats-details"><p>Passage du Rang 3 &#10230; Rang 4: </p> <span class="result3"></span><span>xp</span></li>
        <li class="carriere-stats-details"><p>Finir le Rang 4: </p> <span class="result4"></span><span>xp</span></li>
        <li class="carriere-stats-details"><p>Total: </p> <span class="result5"></span><span>xp</span></li>
    </div>
</div>