{% load static %} 
{% block content %}

    <div class="sheet-container" id="stuffs-selector-container">

        {% include 'base/selector.html' with action='add_stuffSheet' query="stuff" name="équipement" %}

            <div class="skills-selector-title">◈ Equipement :</div>

                <div class="skills-selector">

                    {% for stuff in stuffsheets  %}

                            <div class="skill-char-item"><p>-<span class="skill-name">
                                {% if stuff.weapon %}
                                {{stuff.weapon.name}}
                                {% else %}
                                {{stuff.armor.name}}
                                {% endif %}
                            </span></p>

                            {% if user.is_staff %}
                                <div class="crud-grp">
                                    <a href="{% url 'confirm_stuffSheet' stuff.id %}"><button type="button" class="crud" id="delete">X</button></a>
                                 </div>
                            {% endif %}
                            
                </div>
                    {% endfor %}
 
            </div>


            <div>
                <form action="{% url 'add_customSheet' fiche.id %}" method="POST">
                    {% csrf_token %}
                    <div class="customs-block ">
                        <input class="customs-selector" type="text" name="name" placeholder="Ajouter une nouvelle possession" />
                        <button type="submit" class="customs-validator"><div class="validate-check"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" style="fill: green"/></svg></div></button>
                    </div>
                </form>
                {% if customs|length %}
    
                    <div class="skills-selector-title">◈ Possessions :</div>
    
                        <div class="skills-selector">
    
                            {% for item in customs  %}
    
                                    <div class="skill-char-item">
                                        <p>-<span class="skill-name">
                                            {{item.name}}</span></p>
                                    
    
                                    {% if user.is_staff %}
                                    <div class="crud-grp">
                                        <a href="{% url 'confirm_customSheet' item.id %}"><button type="button" class="crud" id="delete">X</button></a>
                                    </div>
                                {% endif %}
    
                                
                        </div>
                            {% endfor %}
                </div>
            {% endif %}

           

    </div>

{% endblock %}

<script type="text/javascript">

    let stuffParse = JSON.parse(`{{ stuff_list | safe | escapejs  }}`);
    stuffSelector = new Selector("stuff", "équipement", stuffParse);
    stuffSelector.parse(stuffParse)
    const panelstuffToggle = () => {stuffSelector.panelQueryToggle();} 
    const handlestuffpayload = () => {stuffSelector.handleQueryPayload();} 
    const handlestuffClick = (event) => {stuffSelector.handleQueryClick(event);}
    const handlestuffCheck = (event) => {stuffSelector.handleQueryCheck(event);}
    const handlestuffSearch = (event) => {stuffSelector.handleQuerySearch(event);}

</script>


{% comment %} {% if customs|length %}
<form action="{% url 'add_customSheet' fiche.id %}" method="POST">
    {% csrf_token %}
    <div class="customs-block ">
        <input class="customs-selector" type="text" name="name" placeholder="Ajouter une nouvelle possession" />
        <button type="submit" class="customs-validator">✓</button>
    </div>
</form>

<div class="skills-selector-title">◈ Possessions :</div>

    <div class="skills-selector">

        {% for item in customs  %}

                <div class="skill-char-item">
                    <p>-<span class="skill-name">{{item.name}}</span></p>
                </div>

                {% if user.is_staff %}
                <div class="crud-grp">
                    <a href="{% url 'confirm_customSheet' item.id %}"><button type="button" class="crud" id="delete">X</button></a>
                 </div>
            {% endif %}

            
    </div>
        {% endfor %}
{% endif %} {% endcomment %}