{% load static %} 
{% block content %}

    <div class="sheet-container" id="stuffs-selector-container">

        {% comment %} {% include 'base/selector.html' with action='add_stuffSheet' query="stuff" name="équipement" %} {% endcomment %}
        {% include 'equipement/selector.html' %}

            <div class="skills-selector-title">◈ Equipement :</div>

                <div class="skills-selector">

                    {% for stuff in stuffsheets  %}

                            <div class="skill-char-item"><p>-<span class="skill-name">
                                {% if stuff.weapon %}
                                {{stuff.weapon.name}}
                                {% else %}
                                {{stuff.armor.name}}
                                {% endif %}
                            </span></p>

                            {% if user.is_staff %}
                                <div class="crud-grp">
                                    <a href="{% url 'confirm_stuffSheet' stuff.id %}"><button type="button" class="crud" id="delete">X</button></a>
                                 </div>
                            {% endif %}
                            
                </div>
                    {% endfor %}
 
                </div>

    </div>

{% endblock %}