<div class="skills-display-title">◈ Equipement :</div>

                <div class="skills-display">

                    {% for stuff in stuffsheets  %}

                            <p>-<span>
                                {% if stuff.weapon %}
                                {{stuff.weapon.name}}
                                {% else %}
                                {{stuff.armor.name}}
                                {% endif %}
                            </span></p>
                                
                    {% endfor %}
 
                </div>

                {% if customs|length %}
    
                    <div class="skills-display-title">◈ Possessions :</div>
    
                        <div class="skills-display">
    
                            {% for item in customs  %}
                                <p>-<span>
                                    {{item.name}}</span></p>
                            {% endfor %}
                    </div>

                {% endif %}
