{% extends "base/index.html" %} 
{% load static %} 
{% block content %}

{% include "base/searchbar.html" %}

<div class="container">

    <div class="sheet-container">

        {% comment %} <form action="{% url 'add_competence' %}" method="POST" name="sheet-form">
            {% csrf_token %}

            <div class="sheet-table-header" id="skills">
                <input type="text" name="name" id="skill" placeholder="Nom de la compétence">
                <p>Possède des niveaux: </p>
                <div id="level">{{form.hasLevel}}</div>
            </div>

            
            <textarea name="text" id="text" value="{{form.text}}"></textarea>
            
            
            <div class="sheet-table-btns-grp">
            <button type="submit" class="sheet-table-btn">Valider</button>
            <button type="reset" class="sheet-table-btn" id="reset">Effacer</button>
            </div>

    </form> {% endcomment %}

    {% include 'equipement/modes.html' %}

    </div>

    <div id="skills-container" >

       {% if request.path == '/equipements/armes/' %}

        {% for weapon in weapons %}
            <div class="skill-list-item">
                <a href="{% url 'weapon' weapon.id %}">{{weapon.name}}</a>
            </div>
        {% endfor %}

            {% else %}


        {% for armor in armors %}
            <div class="skill-list-item">
                <a href="{% url 'armor' armor.id %}">{{armor.name}}</a>
            </div>
        {% endfor %}

        {% endif %}
    
    </div>

</div>

{% include 'base/pagination.html' with queryset=competences custom_range=custom_range %}

{% endblock %}