{% extends "base/index.html" %} {% load static %} {% block content %}

<div class="container">

    <div class="armory sheet-container bckg">
        <div class="armory-title carriere-block-title">
            Armes de corps-à-corps
        </div>
        <table class="armory-body">
            <tbody>
                
                <tr class="armory-header">
                    <td>Nom</td>
                    <td>Type</td>
                    <td>Description</td>
                    <td>Points de dégâts</td>
                    <td>Points de parade</td>
                    <td>Note éventuelle</td>
                </tr>
                {% for i in weapons %} {% if i.type == "Arme à une main" or i.type == "Arme à deux mains" %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.type}}</td>
                    <td>{{i.text}}</td>
                    <td>{{i.damages}}</td>
                    <td>{{i.parry}}</td>
                    <td>{{i.note}}</td>
                </tr>
                {% endif %} {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- <table>
        <tbody>
            <thead>
                Armes de tir
            </thead>
            <tr>
                <td>Nom</td>
                <td>Type</td>
                <td>Description</td>
                <td>Points de dégâts</td>
                <td>Malus de tir</td>
                <td>Note éventuelle</td>
            </tr>
            {% for i in weapons %} {% if i.type == "Arme de tir" %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.type}}</td>
                <td>{{i.text}}</td>
                <td>{{i.damages}}</td>
                <td>{{i.penalty}}</td>
                <td>{{i.note}}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>

    <table>
        <tbody>
            <thead>
                Armes de tir
            </thead>
            <tr>
                <td>Nom</td>
                <td>Type</td>
                <td>Description</td>
                <td>Points de dégâts</td>
                <td>Malus de tir</td>
                <td>Note éventuelle</td>
            </tr>
            {% for i in weapons %} {% if i.type == "Arme de tir" and i.name == "La Sigfroi V1.0" or i.name == "La Sigfroi V2.0" %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.type}}</td>
                <td>{{i.text}}</td>
                <td>{{i.damages}}</td>
                <td>{{i.penalty}}</td>
                <td>{{i.note}}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>

    <table>
        <tbody>
            <thead>
                Armes de jet
            </thead>
            <tr>
                <td>Nom</td>
                <td>Type</td>
                <td>Description</td>
                <td>Points de dégâts</td>
                <td>Malus de tir</td>
                <td>Note éventuelle</td>
            </tr>
            {% for i in weapons %} {% if i.type == "Arme de jet" %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.type}}</td>
                <td>{{i.text}}</td>
                <td>{{i.damages}}</td>
                <td>{{i.penalty}}</td>
                <td>{{i.note}}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>

    <table>
        <tbody>
            <thead>
                Armures
            </thead>
            <tr>
                <td>Nom</td>
                <td>Type</td>
                <td>Description</td>
                <td>Parties couvertes</td>
                <td>Points de protection</td>
                <td>Note éventuelle</td>
            </tr>
            {% for i in armors %} 
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.type}}</td>
                <td>{{i.text}}</td>
                <td>{{i.areas}}</td>
                <td>{{i.protection}}</td>
                <td>{{i.note}}</td>
            </tr>
             {% endfor %}
        </tbody>
    </table>

    <table>
        <tbody>
            <thead>
                Boucliers
            </thead>
            <tr>
                <td>Nom</td>
                <td>Type</td>
                <td>Description</td>
                <td>Points de dégâts</td>
                <td>Points de parade</td>
                <td>Note éventuelle</td>
            </tr>
            {% for i in weapons %} {% if i.type == "Bouclier"%}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.type}}</td>
                <td>{{i.text}}</td>
                <td>{{i.damages}}</td>
                <td>{{i.parry}}</td>
                <td>{{i.note}}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table> -->

</div>

{% endblock %}
