{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{page_title}}</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'styles/sheets.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'styles/tables.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'styles/armory.css' %}" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet" />
    </head>

    <body>
        {% include 'equipement/table_block.html' %}
    </body>
</html>
