<div class="armory sheet-container bckg">
    <div class="armory-title carriere-block-title">Armes de corps-à-corps</div>
    <table class="armory-body bckg">
        <tbody>
            <tr class="armory-header">
                <td class="armory-block">Nom</td>
                <td>Type</td>
                <td class="armory-desc">Description</td>
                <td class="armory-block stats">Dégâts</td>
                <td class="armory-block">Parade</td>
                <td class="armory-note">Note éventuelle</td>
            </tr>
            {% for i in weapons %} {% if i.type == "Arme à une main" or i.type == "Arme à deux mains" %}
            <tr>
                <td class="armory-block">{{i.name}}</td>
                <td>{{i.type}}</td>
                <td class="armory-desc">{{i.text}}</td>
                <td class="armory-block stats">{{i.damages}}</td>
                <td class="armory-block stats">{{i.parry}}</td>
                <td class="armory-note">{{i.note}}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>

    <div class="armory-title carriere-block-title">Armes de tir</div>
    <table class="armory-body bckg">
        <tbody>
            <tr class="armory-header">
                <td class="armory-block">Nom</td>
                <td>Type</td>
                <td class="armory-desc">Description</td>
                <td class="armory-block stats">Dégâts</td>
                <td class="armory-block">Malus de tir</td>
                <td class="armory-note">Note éventuelle</td>
            </tr>
            {% for i in weapons %} {% if i.type == "Arme de tir" %}
            <tr>
                <td class="armory-block">{{i.name}}</td>
                <td>{{i.type}}</td>
                <td class="armory-desc">{{i.text}}</td>
                <td class="armory-block stats">{{i.damages}}</td>
                <td class="armory-block">{{i.penalty}}</td>
                <td class="armory-note">{{i.note}}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>

    <div class="armory-title carriere-block-title">Arbalètes</div>
    <table class="armory-body bckg">
        <tbody>
            <tr class="armory-header">
                <td class="armory-block">Nom</td>
                <td>Type</td>
                <td class="armory-desc">Description</td>
                <td class="armory-block stats">Dégâts</td>
                <td class="armory-block">Malus de tir</td>
                <td class="armory-note">Note éventuelle</td>
            </tr>
            {% for i in weapons %} {% if i.type == "Arme de tir" and i.name == "La Sigfroi V1.0" or i.name == "La Sigfroi V2.0" %}
            <tr>
                <td class="armory-block">{{i.name}}</td>
                <td>{{i.type}}</td>
                <td class="armory-desc">{{i.text}}</td>
                <td class="armory-block stats">{{i.damages}}</td>
                <td class="armory-block">{{i.penalty}}</td>
                <td class="armory-note">{{i.note}}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>

    <div class="armory-title carriere-block-title">Armes de jet</div>
    <table class="armory-body bckg">
        <tbody>
            <tr class="armory-header">
                <td class="armory-block">Nom</td>
                <td>Type</td>
                <td class="armory-desc">Description</td>
                <td class="armory-block stats">Dégâts</td>
                <td class="armory-block">Malus de tir</td>
                <td class="armory-note">Note éventuelle</td>
            </tr>
            {% for i in weapons %} {% if i.type == "Arme de jet" %}
            <tr>
                <td class="armory-block">{{i.name}}</td>
                <td>{{i.type}}</td>
                <td class="armory-desc">{{i.text}}</td>
                <td class="armory-block stats">{{i.damages}}</td>
                <td class="armory-block">{{i.penalty}}</td>
                <td class="armory-note">{{i.note}}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>

    <div class="armory-title carriere-block-title">Armures</div>
    <table class="armory-body bckg">
        <tbody>
            <tr class="armory-header">
                <td class="armory-block">Nom</td>
                <td>Type</td>
                <td class="armory-desc">Description</td>
                <td class="armory-block stats">Parties couvertes</td>
                <td class="armory-block stats">Protection</td>
                <td class="armory-note">Note éventuelle</td>
            </tr>
            {% for i in armors %}
            <tr>
                <td class="armory-block">{{i.name}}</td>
                <td>{{i.type}}</td>
                <td class="armory-desc">{{i.text}}</td>
                <td class="armory-block stats">{{i.areas}}</td>
                <td class="armory-block">{{i.protection}}</td>
                <td class="armory-note">{{i.note}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="armory-title carriere-block-title">Boucliers</div>
    <table class="armory-body bckg">
        <tbody>
            <tr class="armory-header">
                <td class="armory-block">Nom</td>
                <td>Type</td>
                <td class="armory-desc">Description</td>
                <td class="armory-block stats">Dégâts</td>
                <td class="armory-block stats">Parade</td>
                <td class="armory-note">Note éventuelle</td>
            </tr>
            {% for i in weapons %} {% if i.type == "Bouclier"%}
            <tr>
                <td class="armory-block">{{i.name}}</td>
                <td>{{i.type}}</td>
                <td class="armory-desc">{{i.text}}</td>
                <td class="armory-block stats">{{i.damages}}</td>
                <td class="armory-block stats">{{i.parry}}</td>
                <td class="armory-note">{{i.note}}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>

    <div class="armory-title carriere-block-title">Détails</div>

    {% for i in notes %}

        {% if i.type == "global" %}
            <div class="armory-notes">
                <div class="armory-notes-title">{{i.title}}</div>
                    {{i.text}}
            </div>
        {% endif %}
        
     {% endfor %}

    <div class="armory-notes">

        {% for i in notes %}
            {% if i.type == "attr" %}
                    <div class="armory-notes-title">{{i.title}}</div>
                        {{i.text}}
            {% endif %}
        {% endfor %}

        {% for i in notes %}
            {% if i.type == "list" %}
                <li>
                    <span class="armory-notes-list-item">{{i.name}}</span> : {{i.text}}
                </li>
            {% endif %}
        {% endfor %}
        </div>
</div>
