<div class="sheet-container stuff-container creation bckg">

    <form action="{% url 'add_weapon' %}" method="POST" name="sheet-form">
        {% csrf_token %}

        <div class="sheet-table-header stuff-header">
            <div class="weapon-header">
                <input type="text" name="name" id="skill" placeholder="Nom de l'arme">

                <select name="type" id="id_type" onchange="handleType(event)">                                              
                    <option value="Type" selected="">Type</option>                      
                    <option value="Arme à une main">Arme à une main</option>                      
                    <option value="Arme à deux mains">Arme à deux mains</option>                      
                    <option value="Arme de tir">Arme de tir</option>                      
                    <option value="Arme de jet">Arme de jet</option>                      
                    <option value="Bouclier">Bouclier</option>                      
                </select>
            
        </div>

            <div class="weapon-stats">
                <span>Dégats:</span> <input type="text" name="damages" placeholder="Degats fixes + aléatoires">               
                <span class="penalty">Pénalités:</span> <input type="text" class="penalty" name="penalty" placeholder="Arme de tir uniquement"></span>              
                <span>Parade:</span> <input type="number" name="parry" placeholder="Points de parade">                   
            </div>

        </div>

        <textarea name="text" placeholder="Description de l'arme" id="text"></textarea>
        <textarea name="note" placeholder="Notes aditionnelles" id="notes"></textarea>

        {% if user.is_staff %}
            <div class="btns-container">
                <div class="sheet-table-btns-grp stuff-btns">
                    <button type="submit" class="sheet-table-btn">Valider</button>
                </div>
            </div>
        {% endif %}

    </form>

</div>

<script type="text/javascript">

    const handleType = (event) => {
        if (event.target.value === "Arme de tir") {
            $('.penalty').css('display', 'block');
        } else {
            $('.penalty').css('display', 'none');
        }
    }

</script>