{% extends "base/index.html" %}
{% load static %} 
{% block content %}

        <form action="{% url 'login' %}" class="oauth-wrapper" method="POST" autocomplete="off">
            {% csrf_token %}
            <input class="label" name="username" type="text" placeholder="Nom d'utilisateur" autocomplete="off"/>
            

            <input class="label" name="password" type="password" placeholder="Mot de passe" autocomplete="off"/>
            
            <button type="submit">Connexion</button>

            <div class="login_links_grp">
            {% comment %} <a class="link" href="{% url 'register' %}">Créer un compte</a> {% endcomment %}
            
            </div>

        </form>

{% endblock %}