{% load static %}

<div class="skills-dropdown-selector">
  <div id="skills-searchbar">
    <span class="skills-searchbar-title" onclick="panelToggle()">
      <span>Nouvelle compétence</span>
      <span class="arrow">></span>
    </span>
    <div id="skills-search-container">
      <div id="skills-search-field">
        <input
          id="skill_search_bar_input"
          type="text"
          placeholder="Rechercher..."
        />
        <button id="skill_search_val"><img src="{% static 'images/search-button.svg' %}"></button>
      </div>
      <div class="skill-search-content" id="skills-list">
        

        <div class="lds-dual-ring"></div>

        
      </div>

      <div class="skills-search-btn-grp">
        <button type="submit" class="skills-search-btn">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/selector.js' %}"></script>
