{% load to_class %}
{% block content %}

<div class="sheet-container" id="aliass-selector-container">

    {% include 'base/selector.html' with action='add_aliasSheet' query="alias" name="alias" %}

  <div class="skills-selector-title">◈ Doubles Comptes :</div>

  <div class="skills-selector">

    {% for alias in aliases.aliases.all %} 
    
        <span class="skill-char-item {{alias.owner.group|lower|to_class}}_c">
            <a href="{% url 'charsheet' alias.owner.id %}">- {{alias}}</a>
                <div class="crud-grp">
                    <a href="{% url 'confirm_aliasSheet' fiche.id alias.owner.name %}">
                        {% if user.is_staff %}
                            <button class="crud" id="delete">X</button>
                        {% endif %}
                    </a>
                </div>
        </span>

    {% endfor %}

  </div>
</div>

{% endblock %}

<script type="text/javascript">

    console.log('{{alias}}')

    let aliasParse = JSON.parse(`{{ alias_list | safe | escapejs  }}`);
    aliasParse.map((query) => {
        query.name = query.owner__name;
        delete query.owner__name;
      })
    aliasSelector = new Selector("alias", "alias", aliasParse);
    aliasSelector.parse(aliasParse)
    const panelaliasToggle = () => {aliasSelector.panelQueryToggle();} 
    const handlealiaspayload = () => {aliasSelector.handleQueryPayload();} 
    const handlealiasClick = (event) => {aliasSelector.handleQueryClick(event);}
    const handlealiasCheck = (event) => {aliasSelector.handleQueryCheck(event);}
    const handlealiasSearch = (event) => {aliasSelector.handleQuerySearch(event);}

</script>
