<table class="iframe-table">
   <caption>{{fiche.name}} - {{fiche.path}}</caption>
   <tr>
      <th></th>
      <th>FOR</th>
      <th>END</th>
      <th>HAB</th>
      <th>CHAR</th>
      <th>INT</th>
      <th>INI</th>
      <th>ATT</th>
      <th>PAR</th>
      <th>TIR</th>
      <th>NA</th>
      <th>PV</th>
   </tr>
   <tr>
      <td class="subcat">Profil actuel</td>
      <td>{{fiche.For}}</td>
      <td>{{fiche.End}}</td>
      <td>{{fiche.Hab}}</td>
      <td>{{fiche.Char}}</td>
      <td>{{fiche.Int}}</td>
      <td>{{fiche.Ini}}</td>
      <td>{{fiche.Att}}</td>
      <td>{{fiche.Par}}</td>
      <td>{{fiche.Tir}}</td>
      <td>{{fiche.Na}}</td>
      <td>{{fiche.Pv}}</td>
   </tr>
   <tr>
      <td class="subcat">Améliorations Rang {{fiche.rank}}</td>

      {% if fiche.rank == 1 %}

      <td>{% if carriere.For1  %} {{fiche.For1V}}/{{carriere.For1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.End1  %} {{fiche.End1V}}/{{carriere.End1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Hab1 %} {{fiche.Hab1V}}/{{carriere.Hab1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Char1 != None %} {{fiche.Char1V}}/{{carriere.Char1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Int1 != None %} {{fiche.Int1V}}/{{carriere.Int1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Ini1 != None %} {{fiche.Ini1V}}/{{carriere.Ini1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Att1 != None %} {{fiche.Att1V}}/{{carriere.Att1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Par1 != None %} {{fiche.Par1V}}/{{carriere.Par1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Tir1 != None %} {{fiche.Tir1V}}/{{carriere.Tir1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Na1 != None %} {{fiche.Na1V}}/{{carriere.Na1}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Pv1 != None %} {{fiche.Pv1V}}/{{carriere.Pv1}}{% else %}-{% endif %}</td>

      {% elif fiche.rank == 2 %}

      <td>{% if carriere.For2  %} {{fiche.For2V}}/{{carriere.For2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.End2  %} {{fiche.End2V}}/{{carriere.End2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Hab2 %} {{fiche.Hab2V}}/{{carriere.Hab2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Char2 != None %} {{fiche.Char2V}}/{{carriere.Char2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Int2 != None %} {{fiche.Int2V}}/{{carriere.Int2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Ini2 != None %} {{fiche.Ini2V}}/{{carriere.Ini2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Att2 != None %} {{fiche.Att2V}}/{{carriere.Att2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Par2 != None %} {{fiche.Par2V}}/{{carriere.Par2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Tir2 != None %} {{fiche.Tir2V}}/{{carriere.Tir2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Na2 != None %} {{fiche.Na2V}}/{{carriere.Na2}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Pv2 != None %} {{fiche.Pv2V}}/{{carriere.Pv2}}{% else %}-{% endif %}</td>

      
      {% elif fiche.rank == 3 %}

      <td>{% if carriere.For3  %} {{fiche.For3V}}/{{carriere.For3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.End3  %} {{fiche.End3V}}/{{carriere.End3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Hab3 %} {{fiche.Hab3V}}/{{carriere.Hab3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Char3 != None %} {{fiche.Char3V}}/{{carriere.Char3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Int3 != None %} {{fiche.Int3V}}/{{carriere.Int3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Ini3 != None %} {{fiche.Ini3V}}/{{carriere.Ini3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Att3 != None %} {{fiche.Att3V}}/{{carriere.Att3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Par3 != None %} {{fiche.Par3V}}/{{carriere.Par3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Tir3 != None %} {{fiche.Tir3V}}/{{carriere.Tir3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Na3 != None %} {{fiche.Na3V}}/{{carriere.Na3}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Pv3 != None %} {{fiche.Pv3V}}/{{carriere.Pv3}}{% else %}-{% endif %}</td>

      
      {% elif fiche.rank == 4 %}

      <td>{% if carriere.For4  %} {{fiche.For4V}}/{{carriere.For4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.End4  %} {{fiche.End4V}}/{{carriere.End4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Hab4 %} {{fiche.Hab4V}}/{{carriere.Hab4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Char4 != None %} {{fiche.Char4V}}/{{carriere.Char4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Int4 != None %} {{fiche.Int4V}}/{{carriere.Int4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Ini4 != None %} {{fiche.Ini4V}}/{{carriere.Ini4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Att4 != None %} {{fiche.Att4V}}/{{carriere.Att4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Par4 != None %} {{fiche.Par4V}}/{{carriere.Par4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Tir4 != None %} {{fiche.Tir4V}}/{{carriere.Tir4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Na4 != None %} {{fiche.Na4V}}/{{carriere.Na4}}{% else %}-{% endif %}</td>
      <td>{% if carriere.Pv4 != None %} {{fiche.Pv4V}}/{{carriere.Pv4}}{% else %}-{% endif %}</td>

      {% endif %}
      
   </tr>
   {% comment %} <tr>
  <td class="subcat">XP restante / XP dépensée</td>
  <td colspan=11; align="center";> 0 / 0</td>
   </tr> {% endcomment %}
   </table>