{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/export.css' %}">

<div class="sheet-export-container">
    <table class="sheet-export-table">
        <div class="sheet-export-table-header">
            <div class="sheet-name">{{fiche.name}} - Carrière {{fiche.path}}</div>
        </div>
        <tr>
            <td style="border-bottom: none;">FOR</td>
            <td style="border-bottom: none;">END</td>
            <td style="border-bottom: none;">HAB</td>
            <td style="border-bottom: none;">CHA</td>
            <td style="border-bottom: none;">INT</td>
            <td style="border-bottom: none;">INI</td>
            <td style="border-bottom: none;">ATT</td>
            <td style="border-bottom: none;">PAR</td>
            <td style="border-bottom: none;">TIR</td>
            <td style="border-bottom: none;">NA</td>
            <td style="border-bottom: none;">PV</td>
        </tr>

        <tr>
            <td><div class="label" >{{fiche.For}}</div></td>
            <td><div class="label" >{{fiche.End}}</div></td>
            <td><div class="label" >{{fiche.Hab}}</div></td>
            <td><div class="label" >{{fiche.Char}}</div></td>
            <td><div class="label" >{{fiche.Int}}</div></td>
            <td><div class="label" >{{fiche.Ini}}</div></td>
            <td><div class="label" >{{fiche.Att}}</div></td>
            <td><div class="label" >{{fiche.Par}}</div></td>
            <td><div class="label" >{{fiche.Tir}}</div></td>
            <td><div class="label" >{{fiche.Na}}</div></td>
            <td><div class="label" >{{fiche.Pv}}</div></td>
        </tr>

    </table>

</div>