{% extends "base/index.html" %} 
{% load static %} 
{% block content %}

<div class="container">

    <div class="sheet-container">

        <form action="{% url 'add_fiche' %}" method="POST" name="sheet-form">
            {% csrf_token %}

        <table class="sheet-table">

            <div class="sheet-table-header">
                <input type="text" name="name" placeholder="Nom du joueur">
                <div name="path">{{form.path}}</div>
            </div>

            <div class="sheet-table-header sub">

                <select name="group" id="id_group">                   
                    <option value="Groupe" selected="">Groupe</option>                  
                    <option value="Milice(ne)">Milice</option>                  
                    <option value="Habitant(e)">Peuple</option>                  
                    <option value="Noble">Noblesse</option>                  
                    <option value="Prêtre(sse)">Clergé</option>                  
                    <option value="Banni(e)">Bannis</option>                  
                  </select>

                        <p>de rang</p> 

                <select name="rank">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <tr>
                <td style="border-bottom: none;">FOR</td>
                <td style="border-bottom: none;">END</td>
                <td style="border-bottom: none;">HAB</td>
                <td style="border-bottom: none;">CHA</td>
                <td style="border-bottom: none;">INT</td>
                <td style="border-bottom: none;">INI</td>
                <td style="border-bottom: none;">ATT</td>
                <td style="border-bottom: none;">PAR</td>
                <td style="border-bottom: none;">TIR</td>
                <td style="border-bottom: none;">NA</td>
                <td style="border-bottom: none;">PV</td>
            </tr>

            <tr>
                <td><input type="number" name="For" min="8" max="16" value="8"></td>
                <td><input type="number" name="End" min="8" max="16" value="8"></td>
                <td><input type="number" name="Hab" min="8" max="16" value="8"></td>
                <td><input type="number" name="Char" min="8" max="16" value="8"></td>
                <td><input type="number" name="Int" min="8" max="16" value="8"></td>
                <td><input type="number" name="Ini" min="8" max="16" value="8"></td>
                <td><input type="number" name="Att" min="8" max="16" value="8"></td>
                <td><input type="number" name="Par" min="8" max="16" value="8"></td>
                <td><input type="number" name="Tir" min="8" max="16" value="8"></td>
                <td><input type="number" name="Na" min="1" max="16" value="1"></td>
                <td><input type="number" name="Pv" min="60" max="120" step="5" value="60"></td>
            </tr>
            
            <div class="sheet-table-btns-grp">
            <button type="submit" class="sheet-table-btn">Valider</button>
            <button type="reset" class="sheet-table-btn" id="reset">Effacer</button>
            </div>
        </table>

    </form>

    </div>

    <div id="list-container">
        {% for fiche in fiches %}

            <div class="sheet-list-item">
                {% if fiche.group == "Habitant(e)" %} 

                <a href="{% url 'charsheet' fiche.id %}"><span class="sheet-list-item-id">{{fiche.id}}:</span> <span class="peuple_c">{{fiche.name}}</span> - {{fiche.path}}</a>{% comment %} <a class="sheet-list-item-url" href="{{url}}{{fiche.id}}">{{url}}{{fiche.id}}</a> {% endcomment %}

                {% elif fiche.group == "Noble" %} 

                <a href="{% url 'charsheet' fiche.id %}"><span class="sheet-list-item-id">{{fiche.id}}:</span> <span class="noble_c">{{fiche.name}}</span> - {{fiche.path}}</a>{% comment %} <a class="sheet-list-item-url" href="{{url}}{{fiche.id}}">{{url}}{{fiche.id}}</a> {% endcomment %}

                {% elif fiche.group == "Prêtre(sse)" %} 

                <a href="{% url 'charsheet' fiche.id %}"><span class="sheet-list-item-id">{{fiche.id}}:</span> <span class="clerge_c">{{fiche.name}}</span> - {{fiche.path}}</a>{% comment %} <a class="sheet-list-item-url" href="{{url}}{{fiche.id}}">{{url}}{{fiche.id}}</a> {% endcomment %}

                {% elif fiche.group == "Milice(ne)" %} 

                <a href="{% url 'charsheet' fiche.id %}"><span class="sheet-list-item-id">{{fiche.id}}:</span> <span class="milice_c">{{fiche.name}}</span> - {{fiche.path}}</a>{% comment %} <a class="sheet-list-item-url" href="{{url}}{{fiche.id}}">{{url}}{{fiche.id}}</a> {% endcomment %}

                {% elif fiche.group == "Banni(e)" %} 

                <a href="{% url 'charsheet' fiche.id %}"><span class="sheet-list-item-id">{{fiche.id}}:</span> <span class="banni_c">{{fiche.name}}</span> - {{fiche.path}}</a>{% comment %} <a class="sheet-list-item-url" href="{{url}}{{fiche.id}}">{{url}}{{fiche.id}}</a> {% endcomment %}
                
                {% endif %}
                
                    <div class="crud-grp">
                        <a href="{% url 'confirm_fiche' fiche.id %}"><button class="crud" id="delete">X</button></a>
                    </div>
            </div>

        {% endfor %}
    </div>
    

</div>

{% include 'base/pagination.html' with queryset=fiches custom_range=custom_range %}

{% endblock %}