{% extends "base/index.html" %} 
{% load static %} 
{% block content %}

<div class="container">

    {% include 'fiches/modes.html' %}

  

    <div id="cssactif_fiche">

        <div class="fiche-section">
                <div id="cssactif_fiche_header" class="{{fiche.group}}"></div>
            </div>

            <div class="fiche-section">
                <div class="fiche-title">◈ Personnage ◈</div>
                    {% include 'fiches/player_block.html' %}
            </div>

            <div class="fiche-section" id="skills-section">
                <div class="fiche-title">◈ Compétences ◈</div>
                    {% include 'competences/competences_details.html' %}
            </div>

            <div class="fiche-section" id="stuff-section">
                <div class="fiche-title">◈ Équipement ◈</div>
                    {% include 'equipement/equipement_details.html' %}  
            </div>

            <div class="fiche-section" id="alias-section">
                <div class="fiche-title">◈ Doubles Comptes ◈</div>
                    {% include 'fiches/aliases_details.html' %}  
            </div>
            
            <div class="fiche-section" id="reps-section">
                <div class="fiche-title">◈ Réputations ◈</div>
                    {% include 'reputations/reputations_details.html' %}
            </div>

            <div class="fiche-section" id="success-section">
                <div class="fiche-title">◈ Succès ◈</div>
                    {% include 'succes/succes_details.html' %}
            </div>

            <div class="fiche-section" id="cards-section">
                <div class="fiche-title">◈ Cartes ◈</div>
                    {% include 'cartes/cartes_details.html' %} 
            </div>

        </div>

    

</div>
</div>

<script >
    
    {% comment %} let toggles = {
        'skills': false,
        'stuff': false,
        'alias': false,
        'reps': false,
        'success': false,
        'cards': false
    } {% endcomment %}

    {% if user.is_staff %}

    $('#rank').on('change', function(){
        $(this).closest('form').submit();
    });

    $('#guild').on('change', function(){
        $(this).closest('form').submit();
    });

    {% endif %}

    const handleUpload = (url) => {
        
        let fileInput = document.getElementById('id_avatar')
        let filename = url.split(/(\\|\/)/g).pop()
        
        fetch(url).then(res => res.blob()).then(blob => {
            blob.name = filename;
            blob.lastModified = new Date();

            const file = new File([blob], filename, {
                type: blob.type,
            });

            const dataTransfer = new DataTransfer();
            dataTransfer.items.add(file);
            fileInput.files = dataTransfer.files;

          });
    }

    const properClassName = () => {
        let title = document.getElementById('cssactif_fiche_header');
        title.className = title.className.toLowerCase().replace(/[^a-zA-Z0-9]/g, '')
    }

    {% comment %} const handleToggle = (value) => {
        const item = `#${value}-section`;
        if (!toggles[value]) {
            toggles[value] = true;
            $(item).css('min-height', 'initial');
            $(item).css('padding-bottom', 0);
            $(item)[0].children[0].style.marginBottom = '0px';
            $(item)[0].children[0].style.borderBottom = 'none';
            $(item)[0].children[1].style.display = 'none';
        } else {
            toggles[value] = false;
            $(item).css('min-height', '150px');
            $(item).css('padding-bottom', '10px');
            $(item)[0].children[0].style.marginBottom = '25px';
            $(item)[0].children[0].style.borderBottom = '1px solid #000000';
            $(item)[0].children[1].style.display = value === 'success' ? 'flex' : 'block';
        }
    } {% endcomment %}

    window.onload = properClassName();

    {% comment %} for (const key in toggles) {
        window.onload = handleToggle(key);
    } {% endcomment %}
        
</script>

{% endblock %}