{% extends "base/index.html" %} 
{% load static %} 
{% block content %}

<div class="container">

    <div class="sheet-container">
        <form action="{% url 'edit' fiche.id %}" method="POST" name="sheet-form">
            {% csrf_token %}
        <table class="sheet-table">
            <div class="sheet-table-header">
                <input type="text" name="name" class="sheet-name" value="{{fiche.name}}">
                <div type="text" name="path" name="path" class="sheet-group">{{form.path}}</div>
            </div>

            <div class="sheet-table-header sub">
                
                <select name="group" >                    
                    <option selected="{{fiche.group}}" value="{{fiche.group}}">{{fiche.group}}</option>                  
                    <option value="Milice">Milicien(ne)</option>                  
                    <option value="Peuple">Habitant(e)</option>                  
                    <option value="Noblesse">Noble</option>                  
                    <option value="Clergé">Prêtre(sse)</option>                  
                    <option value="Banni">Banni(e)</option>                  
                  </select>
                 
                <p>de rang</p> 
                <input type="number" id="rank" min="1" max="4" name="rank" value="{{fiche.rank}}">
            </div>

            <tr>
                <td style="border-bottom: none;">FOR</td>
                <td style="border-bottom: none;">END</td>
                <td style="border-bottom: none;">HAB</td>
                <td style="border-bottom: none;">CHA</td>
                <td style="border-bottom: none;">INT</td>
                <td style="border-bottom: none;">INI</td>
                <td style="border-bottom: none;">ATT</td>
                <td style="border-bottom: none;">PAR</td>
                <td style="border-bottom: none;">TIR</td>
                <td style="border-bottom: none;">NA</td>
                <td style="border-bottom: none;">PV</td>
        
            </tr>
           
            <tr>
                <td><input type="number" name="For" min="4" max="16" value="{{fiche.For}}"></td>
                <td><input type="number" name="End" min="4" max="16" value="{{fiche.End}}"></td>
                <td><input type="number" name="Hab" min="4" max="16" value="{{fiche.Hab}}"></td>
                <td><input type="number" name="Char" min="4" max="16" value="{{fiche.Char}}"></td>
                <td><input type="number" name="Int" min="4" max="16" value="{{fiche.Int}}"></td>
                <td><input type="number" name="Ini" min="4" max="16" value="{{fiche.Ini}}"></td>
                <td><input type="number" name="Att" min="4" max="16" value="{{fiche.Att}}"></td>
                <td><input type="number" name="Par" min="4" max="16" value="{{fiche.Par}}"></td>
                <td><input type="number" name="Tir" min="4" max="16" value="{{fiche.Tir}}"></td>
                <td><input type="number" name="Na" min="1" max="16" value="{{fiche.Na}}"></td>
                <td><input type="number" name="Pv" min="60" max="120" value="{{fiche.Pv}}"></td>
            </tr>

            <tr>
             
                {% if fiche.rank == 1 %}

                    <td><input type="number" name="For1V" min="0" max="{{carriere.For1}}" {% if carriere.For1 != None %} value="{{fiche.For1V}}"><input class="sup" type="number" placeholder="/ {{carriere.For1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="End1V" min="0" max="{{carriere.End1}}" {% if carriere.End1 != None %} value="{{fiche.End1V}}"><input class="sup" type="number" placeholder="/ {{carriere.End1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Hab1V" min="0" max="{{carriere.Hab1}}" {% if carriere.Hab1 != None %} value="{{fiche.Hab1V}}"><input class="sup" type="number" placeholder="/ {{carriere.Hab1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Char1V" min="0" max="{{carriere.Char1}}" {% if carriere.Char1 != None %} value="{{fiche.Char1V}}"><input class="sup" type="number" placeholder="/ {{carriere.Char1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Int1V" min="0" max="{{carriere.Int1}}" {% if carriere.Int1 != None %} value="{{fiche.Int1V}}"><input class="sup" type="number" placeholder="/ {{carriere.Int1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Ini1V" min="0" max="{{carriere.Ini1}}" {% if carriere.Ini1 != None %} value="{{fiche.Ini1V}}"><input class="sup" type="number" placeholder="/ {{carriere.Ini1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Att1V" min="0" max="{{carriere.Att1}}" {% if carriere.Att1 != None %} value="{{fiche.Att1V}}"><input class="sup" type="number" placeholder="/ {{carriere.Att1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Par1V" min="0" max="{{carriere.Par1}}" {% if carriere.Par1 != None %} value="{{fiche.Par1V}}"><input class="sup" type="number" placeholder="/ {{carriere.Par1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Tir1V" min="0" max="{{carriere.Tir1}}" {% if carriere.Tir1 != None %} value="{{fiche.Tir1V}}"><input class="sup" type="number" placeholder="/ {{carriere.Tir1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Na1V" min="0" max="{{carriere.Na1}}" {% if carriere.Na1 != None %} value="{{fiche.Na1V}}"><input class="sup" type="number" placeholder="/ {{carriere.Na1}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Pv1V" min="0" max="{{carriere.Pv1}}" {% if carriere.Pv1 != None %} value="{{fiche.Pv1V}}"><input class="sup" type="number" placeholder="/ {{carriere.Pv1}}">
                        {% endif %}
                    </td>
                    
                {% elif fiche.rank == 2 %}

                    <td><input type="number" name="For2V" min="0" max="{{carriere.For2}}" {% if carriere.For2 != None %} value="{{fiche.For2V}}"><input class="sup" type="number" placeholder="/ {{carriere.For2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="End2V" min="0" max="{{carriere.End2}}" {% if carriere.End2 != None %} value="{{fiche.End2V}}"><input class="sup" type="number" placeholder="/ {{carriere.End2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Hab2V" min="0" max="{{carriere.Hab2}}" {% if carriere.Hab2 != None %} value="{{fiche.Hab2V}}"><input class="sup" type="number" placeholder="/ {{carriere.Hab2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Char2V" min="0" max="{{carriere.Char2}}" {% if carriere.Char2 != None %} value="{{fiche.Char2V}}"><input class="sup" type="number" placeholder="/ {{carriere.Char2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Int2V" min="0" max="{{carriere.Int2}}" {% if carriere.Int2 != None %} value="{{fiche.Int2V}}"><input class="sup" type="number" placeholder="/ {{carriere.Int2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Ini2V" min="0" max="{{carriere.Ini2}}" {% if carriere.Ini2 != None %} value="{{fiche.Ini2V}}"><input class="sup" type="number" placeholder="/ {{carriere.Ini2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Att2V" min="0" max="{{carriere.Att2}}" {% if carriere.Att2 != None %} value="{{fiche.Att2V}}"><input class="sup" type="number" placeholder="/ {{carriere.Att2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Par2V" min="0" max="{{carriere.Par2}}" {% if carriere.Par2 != None %} value="{{fiche.Par2V}}"><input class="sup" type="number" placeholder="/ {{carriere.Par2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Tir2V" min="0" max="{{carriere.Tir2}}" {% if carriere.Tir2 != None %} value="{{fiche.Tir2V}}"><input class="sup" type="number" placeholder="/ {{carriere.Tir2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Na2V" min="0" max="{{carriere.Na2}}" {% if carriere.Na2 != None %} value="{{fiche.Na2V}}"><input class="sup" type="number" placeholder="/ {{carriere.Na2}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Pv2V" min="0" max="{{carriere.Pv2}}" {% if carriere.Pv2 != None %} value="{{fiche.Pv2V}}"><input class="sup" type="number" placeholder="/ {{carriere.Pv2}}">
                        {% endif %}
                    </td>

                {% elif fiche.rank == 3 %}

                    <td><input type="number" name="For3V" min="0" max="{{carriere.For3}}" {% if carriere.For3 != None %} value="{{fiche.For3V}}"><input class="sup" type="number" placeholder="/ {{carriere.For3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="End3V" min="0" max="{{carriere.End3}}" {% if carriere.End3 != None %} value="{{fiche.End3V}}"><input class="sup" type="number" placeholder="/ {{carriere.End3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Hab3V" min="0" max="{{carriere.Hab3}}" {% if carriere.Hab3 != None %} value="{{fiche.Hab3V}}"><input class="sup" type="number" placeholder="/ {{carriere.Hab3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Char3V" min="0" max="{{carriere.Char3}}" {% if carriere.Char3 != None %} value="{{fiche.Char3V}}"><input class="sup" type="number" placeholder="/ {{carriere.Char3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Int3V" min="0" max="{{carriere.Int3}}" {% if carriere.Int3 != None %} value="{{fiche.Int3V}}"><input class="sup" type="number" placeholder="/ {{carriere.Int3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Ini3V" min="0" max="{{carriere.Ini3}}" {% if carriere.Ini3 != None %} value="{{fiche.Ini3V}}"><input class="sup" type="number" placeholder="/ {{carriere.Ini3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Att3V" min="0" max="{{carriere.Att3}}" {% if carriere.Att3 != None %} value="{{fiche.Att3V}}"><input class="sup" type="number" placeholder="/ {{carriere.Att3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Par3V" min="0" max="{{carriere.Par3}}" {% if carriere.Par3 != None %} value="{{fiche.Par3V}}"><input class="sup" type="number" placeholder="/ {{carriere.Par3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Tir3V" min="0" max="{{carriere.Tir3}}" {% if carriere.Tir3 != None %} value="{{fiche.Tir3V}}"><input class="sup" type="number" placeholder="/ {{carriere.Tir3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Na3V" min="0" max="{{carriere.Na3}}" {% if carriere.Na3 != None %} value="{{fiche.Na3V}}"><input class="sup" type="number" placeholder="/ {{carriere.Na3}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Pv3V" min="0" max="{{carriere.Pv3}}" {% if carriere.Pv3 != None %} value="{{fiche.Pv3V}}"><input class="sup" type="number" placeholder="/ {{carriere.Pv3}}">
                        {% endif %}
                    </td>

                {% elif fiche.rank == 4 %}

                    <td><input type="number" name="For4V" min="0" max="{{carriere.For4}}" {% if carriere.For4 != None %} value="{{fiche.For4V}}"><input class="sup" type="number" placeholder="/ {{carriere.For4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="End4V" min="0" max="{{carriere.End4}}" {% if carriere.End4 != None %} value="{{fiche.End4V}}"><input class="sup" type="number" placeholder="/ {{carriere.End4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Hab4V" min="0" max="{{carriere.Hab4}}" {% if carriere.Hab4 != None %} value="{{fiche.Hab4V}}"><input class="sup" type="number" placeholder="/ {{carriere.Hab4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Char4V" min="0" max="{{carriere.Char4}}" {% if carriere.Char4 != None %} value="{{fiche.Char4V}}"><input class="sup" type="number" placeholder="/ {{carriere.Char4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Int4V" min="0" max="{{carriere.Int4}}" {% if carriere.Int4 != None %} value="{{fiche.Int4V}}"><input class="sup" type="number" placeholder="/ {{carriere.Int4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Ini4V" min="0" max="{{carriere.Ini4}}" {% if carriere.Ini4 != None %} value="{{fiche.Ini4V}}"><input class="sup" type="number" placeholder="/ {{carriere.Ini4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Att4V" min="0" max="{{carriere.Att4}}" {% if carriere.Att4 != None %} value="{{fiche.Att4V}}"><input class="sup" type="number" placeholder="/ {{carriere.Att4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Par4V" min="0" max="{{carriere.Par4}}" {% if carriere.Par4 != None %} value="{{fiche.Par4V}}"><input class="sup" type="number" placeholder="/ {{carriere.Par4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Tir4V" min="0" max="{{carriere.Tir4}}" {% if carriere.Tir4 != None %} value="{{fiche.Tir4V}}"><input class="sup" type="number" placeholder="/ {{carriere.Tir4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Na4V" min="0" max="{{carriere.Na4}}" {% if carriere.Na4 != None %} value="{{fiche.Na4V}}"><input class="sup" type="number" placeholder="/ {{carriere.Na4}}">
                        {% endif %}
                    </td>
                    <td><input type="number" name="Pv4V" min="0" max="{{carriere.Pv4}}" {% if carriere.Pv4 != None %} value="{{fiche.Pv4V}}"><input class="sup" type="number" placeholder="/ {{carriere.Pv4}}">
                        {% endif %}
                    </td>

                {% endif %}
                </td>
            </tr>

            <div class="sheet-table-btns-grp">
                <button type="submit" class="sheet-table-btn">Modifier</button>
            <a class="btn-link" href="{% url 'charsheet_details' fiche.id %}"><div class="sheet-table-btn details button">Détails</div></a>
            </div>
        </table>
    </form>
    </div>

    <div id="iframe-container">
        {% include 'fiches/iframe.html' %}
    </div>

<textarea class="sheet_url"><iframe id="playerstats" src="{{url}}{{fiche.id}}" width="600" frameborder="0" height="250"></iframe></textarea>
</div>

<script type="text/javascript">

    $('#rank').on('change', function(){
        $(this).closest('form').submit();
    });

</script>

{% endblock %}