<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static '/images/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <title>{{page_title}}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/searchbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/pagination.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/confirm.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/sheets.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/tables.css' %}">

    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
</head>
<body>
    {% include "fiches/header.html" %}
    {% include "fiches/searchbar.html" %}

    <div id="main-background"></div>
    <div id="secondary-background"></div>
    
    {% block content %}

    

    {% endblock %}
    
</body>
</html>