{% extends "fiches/index.html" %} 
{% load static %} 
{% block content %}

<div class="container">

    <div class="sheet-container">
        <table class="sheet-table">
            <div class="sheet-table-header">
                <input type="text" name="name" class="sheet-name"> Carrière
                <input type="text" name="group" class="sheet-group">
            </div>
            <tr>
                <td style="border-bottom: none;">FOR</td>
                <td style="border-bottom: none;">END</td>
                <td style="border-bottom: none;">HAB</td>
                <td style="border-bottom: none;">CHAR</td>
                <td style="border-bottom: none;">INT</td>
                <td style="border-bottom: none;">INI</td>
                <td style="border-bottom: none;">ATT</td>
                <td style="border-bottom: none;">PAR</td>
                <td style="border-bottom: none;">TIR</td>
                <td style="border-bottom: none;">NA</td>
                <td style="border-bottom: none;">PV</td>
            </tr>

            <tr>
                <td><input type="number" id="FOR1" min="4" max="16" value="4"></td>
                <td><input type="number" id="END1" min="4" max="16" value="4"></td>
                <td><input type="number" id="HAB1" min="4" max="16" value="4"></td>
                <td><input type="number" id="CHAR1" min="4" max="16" value="4"></td>
                <td><input type="number" id="INT1" min="4" max="16" value="4"></td>
                <td><input type="number" id="INI1" min="4" max="16" value="4"></td>
                <td><input type="number" id="ATT1" min="4" max="16" value="4"></td>
                <td><input type="number" id="PAR1" min="4" max="16" value="4"></td>
                <td><input type="number" id="TIR1" min="4" max="16" value="4"></td>
                <td><input type="number" id="NA1" min="1" max="16" value="1"></td>
                <td><input type="number" id="PV1" min="60" max="120" value="60"></td>
            </tr>

            <button class="sheet-table-btn">Valider</button>
        </table>
        
    </div>

    <div id="list-container">
        {% for fiche in fiches %}

            <div class="sheet-list-item">
                <a href="{% url 'charsheet' fiche.id %}">{{fiche.id}}: {{fiche.name}} - Carrière {{fiche.path}}</a> 
                    <div class="crud-grp">
                        <button class="crud" id="edit">✎</button>
                        <button class="crud" id="delete">X</button>
                    </div>
            </div>

        {% endfor %}
    </div>
    

</div>

{% endblock %}