{% extends "base/index.html" %} 
{% load static %} 
{% block content %}

<div class="container">

    {% include 'fiches/modes.html' %}

        <div id="cssactif_fiche">

            <div class="fiche-section">
                    <div id="cssactif_fiche_header" class="{{fiche.group}}"></div>
                </div>

    
            <div class="fiche-section">
                <div class="fiche-title">◈ Carrière ◈</div>
                    <div class="fiche-path">{% include 'fiches/carriere_block.html' %}</div>
                    {% include 'competences/competences_block.html' %}
                    {% include 'equipement/equipement_block.html' %}
            </div>
    
            <div class="fiche-section">
                <div class="fiche-title">◈ Réputations ◈</div>
                        {% include 'reputations/reputations_block.html' %}
            </div>

            <div class="fiche-section">
                <div class="fiche-title">◈ Succès ◈</div>
                        <iframe id="achievements" src="https://marbrume.forumactif.com/h497-succes-sujet-d-exemple" width="700" frameborder="0" height="510" left="50"></iframe>
            </div>        
    
            <div class="fiche-section">
                <div class="fiche-title">◈ Cartes à collectionner ◈</div>
                    {% include 'cartes/cartes_block.html' %}
            </div>

        </div>
    
</div>

<script>    

    const properClassName = () => {
        let title = document.getElementById('cssactif_fiche_header');
        title.className = title.className.toLowerCase().replace(/[^a-zA-Z0-9]/g, '')
    }

    window.onload = properClassName();
</script>

{% endblock %}

