<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

	<link rel="stylesheet" href="./main.css">
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet" />

	<script src="./src/jquery.min.js"></script>
	<script src="./src/three/build/three.js"></script>

	<script src="./src/three/examples/js/controls/PointerLockControls.js"></script>
	<script src="./src/three/examples/js/loaders/OBJLoader.js"></script>
	<script src="./src/three/examples/js/loaders/RGBELoader.js"></script>
	<script src="./src/three/examples/js/objects/Lensflare.js"></script>


<!-- 	<script src="./src/three/examples/js/postprocessing/EffectComposer.js"></script>
	<script src="./src/three/examples/js/postprocessing/RenderPass.js"></script>
	
	<script src="./src/three/examples/js/objects/Water2.js"></script>
	<script src='./src/three/examples/js/objects/Reflector.js'></script>
	<script src="./src/three/examples/js/objects/Refractor.js"></script>


	<script src="./src/three/examples/js/postprocessing/ShaderPass.js"></script>
	<script src="./src/three/examples/js/shaders/CopyShader.js"></script>
	<script src="./src/three/examples/js/postprocessing/UnrealBloomPass.js"></script>
	<script src="./src/three/examples/js/shaders/LuminosityHighPassShader.js"></script> -->

</head>

<body>

	<div id="blocker">
		<div id="instructions">
			<span style="font-size:36px">Cliquez pour jouer</span>
			<br /><br />
			Se déplacer: ZQSD<br />
			Sauter: Espace<br />
			Regarder: Souris<br />
			Quitter: Echap
		</div>
	</div>

	<script src="./scene.js"></script>
	<script src="./lighting.js"></script>
	<script src="./classes.js"></script>
	<script src="./herse.js"></script>
	<script src="./remparts.js"></script>
	<script src="./functions.js"></script>

</body>

</html