{% extends "base/index.html" %} 
{% load static %} 
{% block content %}

{% include "base/searchbar.html" %}

<div class="container">

    {% comment %} <div class="mode-selector-btns-grp backup-submit">
        <a href="#"><button type="submit" class="header-item">Nouvelle carte</button></a>
    </div> {% endcomment %}

    <div class="sheet-container bckg creation orig">

    <form action="{% url "add_map" %}" method="POST" class="map-form" name="sheet-form" enctype='multipart/form-data'>
        {% csrf_token %}

        <input type="text" name="name" maxlength="255" placeholder="Nom de la carte" id="id_name">
        <textarea name="description" cols="40" rows="10" id="id_description" placeholder="Description de la carte"></textarea>

        <div class="map-file-input">
            <p>Carte: </p>
            <input type="file" name="background" id="id_background" style="display: none"/>
            <input type="button" id="fake_id_background" value="Choisir un fichier" onclick="document.getElementById('id_background').click();" />
        </div>
            
        {% if user.is_staff %}
            <div class="sheet-table-btns-grp">
                <button type="submit" class="sheet-table-btn">Valider</button>
                <button type="reset" class="sheet-table-btn" id="reset">Effacer</button>
            </div>
        {% endif %}

    </form>

    </div>
    
    <div class="sheet-container backups bckg maps">
        
        <div class="armory-title carriere-block-title">Cartes</div>
        <table class="armory-body bckg">
            <tbody>
                <tr class="armory-header">
                    <td class="backup-id">Id</td>
                    <td class="armory-block">Nom</td>
                    <td>Lien</td>
                    <td class="backup-desc">Actions</td>
                </tr>

                {% for map in maps %}
                    <tr>
                        <td class="backup-id">{{forloop.counter}}</td>
                        <td class="armory-block">{{map.name}}</td>
                        <td><a href={{url}}{{map.url}} target="_blank">{{url}}{{map.url}}</a></td>
                        <td class="backup-desc actions">
                            
                            <button class="backup-actions export" id="export-chronique" value="{{url}}{{map.url}}" onclick="handlePaste(event)"></button>

                            <a class="backup-link" href="{{url}}map/{{map.uuid}}"><button class="backup-actions edit"></button></a>
    
                            <a class="backup-actions delete" href="{% url 'confirm_map' map.uuid %}"></a>
                        </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>

    </div>


</div>

<script type="text/javascript">

    const handlePaste = (event) => {
        navigator.clipboard.writeText(event.target.value).then(
            () => {
                swal('', "L'iframe a été collée dans le presse papiers avec succès!", 'success', {
                    closeOnClickOutside: true,
                    buttons: false,
                    timer: 2000
                });
            },
            (err) => {
                console.log(err);
            }
        );
    };

</script>

{% endblock %}