#succes-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 700px;
  height: auto;
  margin-top: 0px;
  padding-bottom: 10px;
  z-index: 10;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

#success-sheet {
  width: 680px;
  height: 488px;
}

.hfs_background {
  height: 100%;
  position: relative;
  width: 100%;
  filter: drop-shadow(3px 3px 3px black);
  background-image: url(../images/succes/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#buttons-grid {
  position: absolute;
  bottom: 57px;
  left: 50%;
  width: 84%;
  height: 351.08px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(18, 1fr);
  grid-column-gap: 23px;
  grid-auto-flow: column;
  transform: translateX(-50%);
}

.bouton {
  position: relative;
  width: 99px;
  height: 20px;
  opacity: 1;
  transition: 1s;
}

.admin {
  position: absolute;
  display: flex;
  visibility: visible !important;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 20px;
  top: 2px;
}

.hf {
  position: absolute;
  visibility: hidden;
  width: 99px;
  height: 20px;
  top: 2px;
  font-family: Caudex;
  font-size: 12px;
  color: #af7f42;
  text-align: center;
  z-index: 15;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.bouton:hover {
  opacity: 1;
  filter: drop-shadow(0 0 5px #af7f42);
  transition: 0.5s;
  z-index: 2;
}

.bouton:hover .hf {
  position: absolute;
  visibility: visible;
}

.unlocked {
  opacity: 0;
}

#doors-grid {
  position: absolute;
  bottom: -11px;
  left: 50%;
  width: 605px;
  height: 423.29px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 8px;
  transform: translateX(-50%);
  pointer-events: none;
}

.vitrail {
  position: relative;
  height: 100%;
  transform: scaleY(1.005);
  pointer-events: all !important;
}

.vitrail_rotate {
  transition: 0.7s ease;
  transform: rotate3d(0, 1, 0, 90deg);
  transform-origin: left;
}

.vitrail:hover {
  filter: drop-shadow(0 0 5px #d9ac5c);
  transition: 0.5s;
}

.vitrail_0 {
  background-image: url(../images/succes/door_0.png);
}

.vitrail_1 {
  background-image: url(../images/succes/door_1.png);
}

.vitrail_2 {
  background-image: url(../images/succes/door_2.png);
}

.vitrail_3 {
  background-image: url(../images/succes/door_3.png);
}

.vitrail_4 {
  background-image: url(../images/succes/door_4.png);
}

.achievements-crud {
  display: flex;
  margin-left: 10px;
}

#success-edit {
  position: absolute;
  top: 22px;
  right: 107px;
  width: 30px;
}
