.backups {
    width: 90%;
    height: 88%;
    margin-top: 125px;
    overflow: hidden;
}

.backup-submit {
    margin-top: 45px;
}

.actions,
.bar-table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: -webkit-fill-available !important;
}

.backup-desc {
    width: 70px;
}

.backup-actions {
    width: 15px;
}

.backup-id {
    width: 30px;
    min-width: auto !important;
    text-align: center;
}

.char-fn {
    width: 150px;
}
.char-ln {
    width: 250px;
}

.char-status {
    width: 33%;
    max-width: 30vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.backup-link {
    height: 15px;
}

.backup-link span {
    cursor: pointer;
}

.restore {
    content: url(/static/images/svgs/restore.svg);
}

.send {
    content: url(/static/images/svgs/mail.svg);
}

.delete {
    content: url(/static/images/svgs/delete.svg);
}

.export {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
    background-image: url(/static/images/svgs/iframe.svg);
    background-repeat: no-repeat;
}

.edit {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
    background-image: url(/static/images/svgs/gear.svg);
    background-repeat: no-repeat;
}
