.backups {
    width: 90%;
    height: 88%;
    margin-top: 125px;
    overflow: hidden;
}

.backup-submit {
    margin-top: 45px;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.backup-desc {
    width: 70px;
}

.backup-actions {
    width: 15px;
}

.backup-id {
    width: 30px;
    min-width: auto !important;
    text-align: center;
}

.restore {
    content: url(/static/images/svgs/restore.svg);
}

.send {
    content: url(/static/images/svgs/mail.svg);
}

.delete {
    content: url(/static/images/svgs/delete.svg);
}

.export {
    background-color: transparent;
    border: none;
    background-image: url(/static/images/svgs/iframe.svg);
    background-repeat: no-repeat;
}
