.blason-background {
    position: absolute;
    width: 100%;
    height: 300px;
    background-image: url(../images/blason.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 20%;
    pointer-events: none;
    opacity: 0.1;
}

.chronique-total {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

.chronique-subtotal {
    font-size: 14px;
}

.chronique-text {
    line-height: 20px;
}

.forum-stats {
    position: relative;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.forum-counts {
    display: flex;
    margin-bottom: 15px;
}

.count {
    margin-left: 5px;
}

.chronique-input {
    display: flex;
    justify-content: center;
}

.chronique-input textarea,
.chronique-input .richText {
    width: 90% !important;
    min-height: 250px;
    height: auto;
    resize: none;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow-y: auto;
}

.chronique-input .richText {
    overflow: hidden;
}

.chronique-input .richText .richText-initial {
    width: 97% !important;
    height: 300px !important;
    min-height: 300px !important;
    min-width: 97% !important;
    max-width: 97% !important;
    padding: 20px !important;
}

.chronicles-btns-grp {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 12px;
}

.honor-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.honor-member {
    font-size: 16px;
}

#honor-picture {
    width: 100px;
    height: 200px;
    margin: 10px;
}

#id_honor_member {
    height: 25px;
    margin-top: 5px;
    width: 250px;
}

.new_members {
    margin-top: 5px;
}

.honor-comment textarea {
    min-height: 90px;
    width: 65%;
    height: 90px;
    padding: 10px;
}

.chronicle-submit {
    position: relative;
    justify-content: center;
}
