.exalte,
.favori,
.lepilierduroyaume,
.meilleurparti,
.figureemblematique,
.devot,
.soutieninfaillible,
.partisan,
.heros,
.membreemerite {
  color: #10b910;
}

.positive,
.lebrave,
.estime,
.connaissancerespectable,
.amecharitable,
.pieux,
.loyal,
.collaborateuracceptable,
.bienfaiteur,
.elementmoteur {
  color: #7fb914;
}

.neutre,
.perdudanslamasse,
.inconnu,
.marbrumien,
.indifferent,
.fidele,
.sanshistoire,
.badaud,
.membre {
  color: #eeb817;
}

.negative,
.lemarginal,
.dissident,
.pecore,
.filou,
.impie,
.crapule,
.hostile,
.suspect,
.tireauflanc {
  color: #eb602b;
}

.recherche,
.personanongrata,
.ennemiroyal,
.trainemisere,
.scelerat,
.etioliste,
.hommeaabattre,
.ennemi,
.indesirable,
.rate {
  color: #e7073f;
}

.banished {
  color: #e7073f;
  font-weight: 700;
}

.peuple_c,
.dc_habitante,
.habitante_c {
  color: #d1963e;
  font-weight: 700;
}

.noble_c,
.dc_noble {
  color: #315cde;
  font-weight: 700;
}

.banni_c,
.dc_bannie,
.bannie_c {
  color: #a60f0f;
  font-weight: 700;
}

.clerge_c,
.dc_prtresse,
.prtresse_c {
  color: #8aa1d1;
  font-weight: 700;
}

.milice_c,
.dc_milicene,
.milicene_c {
  color: #578251;
  font-weight: 700;
}

#mode-selector-1 {
  background-color: #0076b8;
}

#mode-selector-2 {
  background-color: #008000;
}

#mode-selector-3 {
  background-color: orange;
}
