#prompt_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 150px;
  width: 400px;
  height: 100px;
  border-radius: 5px;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 12%) 0px 13px 15px -5px,
    rgb(0 0 0 / 35%) 0px 8px 8px -5px;
  z-index: 5;
}

#prompt_text {
  font-size: 14px;
  margin-top: 10px;
  color: #757575;
}

#prompt_text p {
  font-size: 14px;
  color: #757575;
  text-align: center;
}

#prompt_btn_grp {
  position: absolute;
  bottom: 10px;
}

#prompt_btn_grp button {
  width: 60px;
  height: 25px;
  margin: 0 5px 0 5px;
  color: #fff;
}

.prompt_action:hover {
  transform: scale(1.1);
}

.prompt_action a:hover {
  text-decoration: none;
}

#prompt_confirm {
  background-color: green;
}

#prompt_deny {
  background-color: orange;
}
