.sheet-export-container {
  position: relative;
  width: 560px;
  height: 210px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 12%) 0px 13px 15px -5px,
    rgb(0 0 0 / 35%) 0px 8px 8px -5px;
  background-image: url(../images/yNoKK6g.png);
  background-color: #242424;
}

.sheet-export-container * {
  color: #acacac;
}

.sheet-export-table {
  position: relative;
  width: 80%;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #acacac;
}

.sheet-export-table-header {
  position: relative;
  display: flex;
  justify-content: center;
  top: 10px;
  font-size: 20px;
}

.sheet-export-table-header p {
  position: relative;
  bottom: -2px;
  font-size: 14px !important;
}

.sheet-export-table td {
  width: 38px;
}

.sheet-export-table tr {
  display: flex;
  justify-content: center;
}

.sub {
  margin-top: 10px;
}

.sub p {
  margin: 0 5px 0 5px;
}
