.sheet-export-container {
    position: relative;
    width: 560px;
    height: 210px;

    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 12%) 0px 13px 15px -5px,
      rgb(0 0 0 / 35%) 0px 8px 8px -5px;
    background-image: url(../images/yNoKK6g.png);
    background-color: #242424;
  }

  .sheet-export-table {
    position: relative;
    width: 560px;
    top: 15px;
    display: flex;
    justify-content: center;
}

.sheet-export-table-header {
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
}

.sheet-export-table-header p {    
    position: relative;
    bottom: -2px;
    font-size: 14px !important;
}

.sub {
    margin-top: 10px;
}

.sub p {
    margin: 0 5px 0 5px;
}