#navHeader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: visible;
  z-index: 25;
}

.header-title {
  width: 150px;
  padding-left: 5px;
  color: #fff;
}

.header-title span {
  padding-left: 5px;
  color: #fff;
}

.title-arrow {
  transform: rotate(90deg);
  font-size: 16px;
  text-indent: 0px;
  margin-right: 6px;
  color: #fff;
}

.header-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 5px 0 5px;
  justify-content: space-between;
  border-radius: 3px;
  border-bottom: 2px solid rgba(92, 81, 81, 0.25) !important;
  margin: 10px 15px 0 15px;
  font-size: 14px;
  background-color: #0076b8;
  color: #fff;
  box-shadow: rgb(0 0 0 / 12%) 0px 13px 15px -5px,
    rgb(0 0 0 / 35%) 0px 8px 8px -5px;
  cursor: pointer;
}

.dropdown:hover #header-item-content {
  max-height: calc(100vh - 60px);
}

.dropdown:hover .title-arrow {
  transform: rotate(-90deg);
}

#header-item-content {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 0px;
  top: 32px;
  display: flex;
  flex-direction: column;
  margin-left: -5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: rgb(0 0 0 / 12%) 0px 13px 15px -5px, rgb(0 0 0 / 35%) 0px 8px 8px -5px;
  overflow: hidden;
  transition: 1000ms all;
  backdrop-filter: blur(2px);
}

.item-content-button {
  padding: 7px 10px;
  margin-bottom: 2px;
  color: #4b4343;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(92, 81, 81, 0.1);
}

.item-content-button path {
  fill: #4b4343;
  image-rendering: auto;
}

.item-content-button svg {
  margin-right: 10px;
}

.item-content-button:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.active-item {
  background-color: green !important;
  color: #fff;
}

.active-item path {
  fill: #fff;
}

.forum-title {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  background-color: rgba(250, 250, 250, 0.25) !important;
  backdrop-filter: blur(2px);
}  

.logout-btn:hover, .forum-title:hover {
  text-decoration: none;
}
