#navHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navHeader p {
  margin: 0 25px 0 25px;
  width: auto;
  padding: 0 10px 0 10px;
  color: #d3d3d3;
  font-size: 14px;
}

.header-btn {
  margin: 0 25px 0 25px;
  width: auto;
  padding: 0 10px 0 10px;
  height: 25px;
  background-color: #0076B8;
  color: #fff;
  font-size: 14px;
}

.header-btn:hover {
  transform: scale(1.1);
}

.header-links-grp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}

.forum-title {
  position: relative;
  width: auto;
  left: 15px;
  min-width: 260px;
  font-weight: 700;
  font-size: 16px !important;
  color: #d3d3d3;
}

.forum-title:hover {
  letter-spacing: 1px;
}