#cssactif_fiche {
  position: relative;
  left: 50%;
  bottom: 50px;
  margin-top: 150px;
  width: 700px;
  background: url(../images/yNoKK6g.png);
  background-repeat: repeat;
  z-index: 2;
  color: #938471;
  font-size: 14px;
  background-color: #1d1d1d;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #000000;
  transform: translateX(-50%);
}

#cssactif_fiche_header {
  background-position: center;
  background-size: 110%;
  background-repeat: none;
  background-position: top center;
  height: 150px;
  border-bottom: 15px double #000000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#listing {
  margin-top: -75px;
}

.fiche-section {
  min-height: 150px;
}

.fiche-section li{
  list-style: none;
  margin-bottom: 5px;
}

.section-content {
  padding: 15px;
  text-align: justify;
}

.section-content div {
  margin-bottom: 15px;
}

#listing-total {
  text-align: center !important;
  font-size: 16px;
}

#listing-total span {
  font-weight: 700;
}

#listing-update {
  text-align: center !important;
  font-size: 12px;
}

#listing-details {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right !important;
}

#listing-details p{
  margin-bottom: 5px;
}

.habitante {
    background: url(../images/OlcQljA.jpg);
}

.prtresse {
  background: url(../images/vpQjpIh.jpg);
}

.milicene {
  background: url(../images/z5rSF6m.jpg);
}

.noble {
  background: url(../images/HGobpNi.png);
}

.bannie {
  background: url(../images/JFJkpDd.jpg);
}

.fiche-path {
    display: flex;
    justify-content: center;  
}

.skills-display-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.skills-display-title {
  position: relative;
  padding: 20px 0px 0px 20px;
  font-weight: 700;
  font-size: 16px;
}

.skills-display {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 5px;
  padding: 10px 20px 10px 21px;
  font-size: 14px;
}

.fiche-title {
  width: 700px;
  height: 45px;
  text-align: center;
  font-family: Bilbo Swash Caps;
  font-variant: small-caps;
  font-size: 24px;
  font-style: normal;
  color: #796244;
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: rgba(41, 33, 28, 0.7);
}

#achievements {
  transform: scale(0.97);
  margin-top: -10px;
}

.iframe-table caption {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: #8a8a8a;
    font-family: "Gabriela", serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center;
  }
  
  .iframe-table {
    width: 50%;
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    padding: 5px;
  }
  
  .iframe-table th {
    color: #8a8a8a;
    border: 1px solid #c0c0c0;
    padding: 5px;
    background: #f0f0f0;
  }
  .iframe-table td {
    color: #8a8a8a;
    border: 1px solid #c0c0c0;
    padding: 5px;
  }
  
  .subcat {
    font-size: 12px;
  }

  .aliases-list {
    line-height: 25px;
    margin-bottom: 10px !important;
  }

  .group-stats {
    margin-bottom: 10px;
  }

  .alias-grp-status, .alias-owner-status {
    display: none;
  }