.reals {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
}

.real-container {
  position: relative;
  width: 525px;
  height: 200px;
  border-radius: 5px;
  margin: 75px 0;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: rgb(0 0 0 / 12%) 0px 13px 15px -5px,
    rgb(0 0 0 / 35%) 0px 8px 8px -5px;
  cursor: pointer;
}

.real-container a {
  position: absolute;
  width: 525px;
  height: 200px;
  border-radius: 5px;
}

.real-block {
  position: absolute;
  bottom: -80px;
  border: none;
  width: 525px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  resize: none;
}

@media (max-width: 750px) {
  .reals {
    grid-auto-flow: row;
  }
}
