.sheet-container {
  position: relative;
  left: 50%;
  width: 560px;
  height: 210px;
  margin-top: 100px;
  margin-bottom: 25px;
  border-radius: 5px;
  transform: translateX(-50%);
  box-shadow: rgb(0 0 0 / 12%) 0px 13px 15px -5px,
    rgb(0 0 0 / 35%) 0px 8px 8px -5px;
  background-image: url(../images/yNoKK6g.png);
  background-color: #242424;
}

.mode-selector-btns-grp {
  position: absolute;
  display: flex;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
}

.mode-selector-btns-grp a:hover {
  text-decoration: none;
}

.mode-selector {
  width: 105px !important;
  height: 35px !important;
  margin: 0 10px 0 10px !important;
}

.stuff {
  top: 343px;
}

.sheet_url {
  position: relative;
  width: 500px;
  height: 55px;
  left: 50%;
  margin-bottom: 10px;
  transform: translateX(-50%);
  text-align: center;
  resize: none;
}

.reps {
  margin-top: -10px;
}

#list-container {
  position: absolute;
  width: 70%;
  top: 300px;
  left: 50%;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  transform: translateX(-50%);
  padding: 0 25px 0 25px;
}

.sheet-list-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  left: 50%;
  height: 45px;
  flex-direction: row;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  border-radius: 5px;
  border-bottom: 2px solid rgba(92, 81, 81, 0.25);
  margin-bottom: 10px;
  font-size: 14px;
  background-color: rgba(250, 250, 250, 0.05);
  color: #a3988a !important;
  transform: translateX(-50%);
  box-shadow: rgb(0 0 0 / 12%) 0px 13px 15px -5px,
    rgb(0 0 0 / 35%) 0px 8px 8px -5px;
}

.sheet-list-item-id {
  margin-right: 5px;
  color: #d3d3d3;
}

.sheet-list-item:hover {
  background-color: rgba(250, 250, 250, 0.075);
  transform: translateX(-50%) scaleX(1.02);
}

.sheet-list-item-url {
  position: absolute;
  width: 450px;
  right: 7%;
  opacity: 0.5;
}

#id_path,
#id_gender {
  height: 24px;
}

#id_status {
  position: relative;
  left: 50%;
  top: 20px;
  height: 24px;
  width: 60%;
  transform: translateX(-50%);
}
.crud-grp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.crud-grp button {
  background-color: transparent;
  font-size: 18px;
  font-family: "Comic Neue", cursive;
}

#edit {
  transform: scaleX(-1);
  color: #427c3a;
}

#delete {
  color: #b84040;
  font-weight: 700;
}

#delete:hover {
  transform: scale(1.2);
}
