#timeline-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 550px;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 12%) 0px 13px 15px -5px, rgb(0 0 0 / 35%) 0px 8px 8px -5px;
}