{% extends "base/index.html" %} 
{% load static %} 
{% block content %} 
{% include "base/searchbar.html" %}

<div class="container">
    <div class="mode-selector-btns-grp backup-submit">
        
        <div class="tree-form">
            <form method="post" action="{% url "add_characters" %}" enctype="multipart/form-data" style="display: flex;">
                {% csrf_token %}
                {% comment %} <button id="backupSubmit" type="submit" class="header-item">Importer un tableau</button> {% endcomment %}
                <input type="file"  name="file_form" id="id_file_form" style="display: none" onChange="this.form.submit();"/>
                        <input type="button" class="header-item input-item" id="fake_id_file_form" value="Choisir un fichier" onclick="document.getElementById('id_file_form').click();" />
              </form>
            
        </div>
       
    </div>

    <div class="sheet-container backups bckg">
        <div class="armory-title carriere-block-title">Personnages</div>

        <table class="armory-body bckg">
            <tbody>

                <tr class="armory-header">
                    <td class="backup-id">Id</td>
                    <td class="char-fn">Prénom</td>
                    <td class="char-ln">Nom</td>
                    <td class="char-status">Status</td>
                    <td class="backup-desc">Actions</td>
                </tr>

               {% for character in characters %}

               <tr>
                <td class="backup-id">{{forloop.counter}}</td>
                <td class="char-fn">{{character.first_name}}</td>
                <td class="char-ln">{{character.last_name}}</td>
                <td class="char-status">{{character.status}}</td>
           
                <td class="backup-desc actions">
                <a class="backup-link" href="/admin/lineage/character/{{character.id}}/change/"><button class="backup-actions edit"></button></a>
                <a class="backup-actions delete" href="{% url 'confirm_character' character.id %}"></a>
                </td>
            </tr>

               {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'base/pagination.html' with queryset=characters custom_range=custom_range %}

{% endblock %}
