{% load static %}

<div class="querys-dropdown-selector">
  <div id="querys-searchbar">
    <span class="querys-searchbar-title" onclick="panel{{query}}Toggle()">
      <span id="{{query}}-selector-title"></span>
      <span class="{{query}}-arrow">></span>
    </span>
    <div id="{{query}}s-search-container">
      <div id="querys-search-field">
        <input
          id="{{query}}_search_bar_input"
          type="text"
          placeholder="Rechercher..."
          
        />
        <button id="query_search_val">
          <img src="{% static 'images/search-button.svg' %}" />
        </button>
      </div>

      <form action="{% url action %}" method="POST">
        {% csrf_token %}
        <div class="{{query}}-search-content" id="{{query}}s-list"></div>

        {% if user.is_staff %}
        <div class="{{query}}s-search-btn-grp">
          <button
            type="submit"
            class="{{query}}s-search-btn"
            id="{{query}}-send"
            onclick="handle{{query}}payload()"
          >
            Ajouter
          </button>
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>

