{% extends "base/index.html" %} 
{% load static %} 
{% block content %} 
{% include "base/searchbar.html" %}

<div class="container">

   <div class="sheet-container backups bckg tree-form">
        <div class="armory-title carriere-block-title" >Arbres Généalogiques</div>

            {% include 'lineage/selector.html' with action='add_family_tree' query="char" name="arbre" %}
  
        <table class="armory-body bckg">
            <tbody>

                <tr class="armory-header">
                    <td class="backup-id">Id</td>
                    <td>Nom</td>
                    <td class="backup-desc">Actions</td>
                </tr>

               {% for tree in trees %}

               <tr>
                <td class="backup-id">{{forloop.counter}}</td>
                <td><a href="{{url}}/{{tree.uuid}}" target="_blank">Famille {{tree.head.last_name}} - {{tree.head.first_name}} {{tree.head.last_name}}</a></td>
           
                <td class="backup-desc actions">
                <button class="backup-actions export"  value="{{url}}/{{tree.uuid}}" onclick="handleTree(event)"></button>
                <a class="backup-actions delete" href="{% url 'confirm_tree' tree.pk %}"></a>
                </td>
            </tr>

               {% endfor %}
            </tbody>
        </table>
    </div> 
</div>

<script>

    let charParse = JSON.parse(`{{ char_list | safe | escapejs  }}`).map((ch) => {
        return {"name": ch.full_name, "id": ch.id}
    })

    const charSelector = new Selector("char", "arbre", charParse);
    charSelector.parse(charParse)
    const panelcharToggle = () => {charSelector.panelQueryToggle();} 
    const handlecharpayload = () => {charSelector.handleQueryPayload();} 
    const handlecharClick = (event) => {charSelector.handleQueryClick(event);}
    const handlecharCheck = (event) => {charSelector.handleQueryCheck(event);}
    const handlecharSearch = (event) => {charSelector.handleQuerySearch(event);}

    const handleTree = (event) => {
        navigator.clipboard.writeText(event.target.value).then(
            () => {
                swal('', "Le lien a été collée dans le presse papiers avec succès!", 'success', {
                    closeOnClickOutside: true,
                    buttons: false,
                    timer: 2000
                });
            },
            (err) => {
                console.log(err);
            }
        );
    };



</script>

{% endblock %}