{% load static %} 

{% if user.is_authenticated %}
<div id="search_bar">    
        <input id="search_bar_input" type="text" placeholder="Rechercher..." name="search_query" >
        <button id="search_val"><img src="{% static 'images/search-button.svg' %}" onclick="handleRedirect()"></button>
</div>
{% endif %}

<script type="text/javascript">

    const list = JSON.parse(`{{ characters | safe | escapejs  }}`);
    const redirectBar = document.querySelector('#search_bar_input')
    
    redirectBar.addEventListener('keyup', (e) => {
        let result = [];

        if (redirectBar.value !== "") {
            let query = list.find(item => item.name.toLowerCase().includes(redirectBar.value))
            result.push(query !== undefined ? query : null)
        }

        if (e.key === "Enter" && result.length) {
            window.location.assign(`http://localhost:8005/fiche/${result[0].id}`) 
        }
    });

</script>