
{% extends 'base/index.html' %}
{% load static %}
{% block content %}

{% include "base/searchbar.html" %}

<div class="container">

        <div class="sheet-container" >

        </div>

            <div id="cards-container">

                {% for card in cards %}

                    {% if card.ref.group == "Banni(e)" %}

                    <div class="card-block">
                        <span class="card-name title{{card.ref.group|lower|cut:"("|cut:")"}}"><span>{{card.ref}}</span></span>
                        <img class="card-frame front" src="/static/images/frames/bannis-front.png" alt="{{card.ref}}" />
                        <img class="card-avatar card-{{card.ref.group|lower|cut:"("|cut:")"}}" src="/static/images/{{card.ref.avatar}}" alt="{{card.ref.group}}" />
                        <img class="card-frame back" src="/static/images/frames/bannis-back.png" alt="{{card.ref}}" />
                    </div>

                    {% elif card.ref.group == "Prêtre(sse)" %}

                    <div class="card-block">
                        <span class="card-name title{{card.ref.group|lower|cut:"("|cut:")"}}"><span>{{card.ref}}</span></span>
                        <img class="card-frame front" src="/static/images/frames/prêtre(sse)-front.png" alt="{{card.ref}}" />
                        <img class="card-avatar card-{{card.ref.group|lower|cut:"("|cut:")"}}" src="/static/images/{{card.ref.avatar}}" alt="{{card.ref.group}}" />
                        <img class="card-frame back" src="/static/images/frames/prêtre(sse)-back.png" alt="{{card.ref}}" />
                    </div>

                        {% else %}

                            <div class="card-block">
                                <span class="card-name title{{card.ref.group|lower|cut:"("|cut:")"}}"><span>{{card.ref}}</span></span>
                                <img class="card-avatar card-{{card.ref.group|lower|cut:"("|cut:")"}}" src="/static/images/{{card.ref.avatar}}" alt="{{card.ref.group}}" />
                                <img class="card-frame" src="/static/images/frames/{{card.ref.group|lower}}.png" alt="{{card.ref}}" />
                            </div>

                        {% endif %}

                {% endfor %}

            </div>
</div>

{% endblock %}