{% load static %}

<div class="cards-dropdown-selector">
  <div id="cards-searchbar">
    <span class="cards-searchbar-title" onclick="panelCardToggle()">
      <span id="card-selector-title">Ajouter une nouvelle carte</span>
      <span class="card-arrow">></span>
    </span>
    <div id="cards-search-container">
      <div id="cards-search-field">
        <input
          id="card_search_bar_input"
          type="text"
          placeholder="Rechercher..." 
        />
        <button id="card_search_val"><img src="{% static 'images/search-button.svg' %}"></button>
      </div>

      <form action="{% url 'add_cardSheet' fiche.id %}" method="POST">
        {% csrf_token %}
          <div class="card-search-content" id="cards-list">
            <div class="lds-dual-ring"></div>
          </div>
      

      <div class="cards-search-btn-grp">
        <button type="submit" class="cards-search-btn">Ajouter</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script src="{% static 'js/selectorCards.js' %}"></script>