<div class="fiche-section">
    <div id="cssactif_fiche_header" class="bannie"></div>
</div>

<div class="fiche-section">
    <div class="fiche-title">◈ L'origine ◈</div>

    <div class="initial-timeline">
        <p>
            Sur Marbrume, nous sommes au douzième siècle. Il est important de noter qu'il ne faut en aucun cas voir dans cette date une correspondance avec la date de notre monde
            irl. Tout simplement car le calendrier n'est pas le même ; que Marbrume n'étant pas un forum à religion chrétienne, les repères ne sont pas du tout les mêmes. Evitez
            donc de vous baser sur les innovations technologiques à partir des dates réelles. Maintenant que cela est précisé, voici une liste non exhaustive des évènements
            marquants de Marbrume récents.
        </p>

        <p class="nota-bene">
            (Le reste de la chronologie initiale du Royaume ne sera pas développée, notre but initial étant de jouer un forum avec une ville survivante dans un univers mêlant
            apocalypse et médiéval, et non pas de mettre en scène le background d'un royaume entier.)
        </p>
    </div>

    <div id="timeline-container">
        <iframe src="https://timeline.marbrume.com" width="650" frameborder="0" height="550"></iframe>
    </div>
</div>
