.timeline-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: auto;
    min-height: 550px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #303030;
    overflow: hidden;
    background-image: url(https://www.marbrume.com/static/images/yNoKK6g.png);
}

.timeline-header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    letter-spacing: 2px;
    font-family: Bilbo Swash Caps;
    font-variant: small-caps;
    font-size: 20px;
    font-style: normal;
    color: #796244;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
    background-color: rgba(41, 33, 28, 0.7);
}

.slots-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timeline-slot {
    position: relative;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #0076b8;
    color: #fff;
    cursor: pointer;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.slot-first {
    border-radius: 10px 0 0 10px;
}

.slot-last {
    border-radius: 0 10px 10px 0;
}

.years-container {
    position: absolute;
    width: 100%;
    bottom: 35px;
    display: flex;
    justify-content: center;
}

.year-items-container {
    width: 90%;
    display: flex;
    justify-content: center;
}

.year-item {
    font-size: 12px;
    padding: 0;
}

.item-hover {
    position: fixed;
    top: 115px;
    width: 85%;
    text-align: justify;
    font-size: 13px;
    color: #938471;
}

.item-hover-background {
    position: fixed;
    top: 115px;
    width: 85%;
    height: 64%;
    background: url('./blason.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.05;
    pointer-events: none;
}

.item-hover-title {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px;
}

.item-hover-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-hover-links span {
    margin: 0 15px 15px 15px;
    cursor: pointer;
}

.item-hover-links span:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #bba888;
}

.item-hover-link {
    position: relative;
    margin-right: 25px;
}

.date {
    font-size: 14px;
    margin-bottom: 2px;
    color: #af7f42;
}

.item-hover-content {
    height: 265px;
    overflow-y: auto;
}

.item-hover-content-details {
    margin-bottom: 10px;
    line-height: 20px;
    white-space: pre-wrap;
}

.item-hover-content-details ul li{
    margin: 5px 0;
    list-style: none;
}

/* Hover functions */

.timeline-slot:hover {
    transform: scale(1.1);
    z-index: 5;
    border-radius: 5px 5px 5px 5px;
    filter: brightness(125%);
}

.slot-first:hover {
    border-radius: 10px 5px 5px 10px !important;
}

.slot-last:hover {
    border-radius: 5px 10px 10px 5px !important;
}
